property-value {

	display: block;

	.dropdown.fragments {
		.item[data-value='bNodes-category'],
		.item[data-value='named-fragments-category'] {
			text-align: center;
		}
		.text {
			.description {
				display: none;
			}
		}
		.item {
			.title {
				line-height: 1em;
				font-size: 1.2em;
				display: block;
			}
			.description {
				color: gray;
				font-size: .8em;
			}
		}
	}

	.options {
		display: none;
		float: right;
		position: relative;
		top: -2px;
		max-height: 23px;
		z-index: 1;
	}
	.options.still {
		display: block;
	}

	//property-value.field {
	//	clear: none;
	//}
	.hidden {
		display: none;
	}

	.edit-mode {
		padding-right: 62px;
	}

	.read-mode {
		font-size: .9em;
		.value {
			min-height: 28px;
			line-height: 28px;
		}
	}
}

.ui.form .read-mode {
	font-size: initial;
}

property-value.segment {
	padding: 0;
}

property-value:hover .options {
	display: block;
}