<input [attr.placeholder]="!!placeholder? placeholder: 'Value'"
       [ngFormControl]="input"
       [hidden]="type==='@id'"
       type="text">
<div [hidden]="type!=='@id'">
	<select class="ui fluid search dropdown fragments">
		<option value="">
			Search a fragment/bNode
		</option>
		<option class="item" value="bNodes-category" disabled="disabled">
			bNodes
		</option>
		<optgroup label="bNodes">
			<option class="item" *ngFor="let bNode of (bNodesDictionary | iterablemap); let i=index" value="{{bNode.key}}" (hover)="onFragmentHover($event, bNode)">
				<span>
					<span class="title">bNode {{i}}</span>
					<span class="description">{{bNode.key}}</span>
				</span>
			</option>
		</optgroup>
		<option class="item" value="named-fragments-category" disabled="disabled">
			Named Fragments
		</option>
		<optgroup label="Named Fragments">
			<option class="item" *ngFor="let fragment of (namedFragmentsDictionary | iterablemap); let i=index" value="{{fragment.key}}" (hover)="onFragmentHover($event, fragment)">
				<span>
					<span class="title">{{getFriendlyName(fragment.key)}}</span>
					<span class="description">{{fragment.key}}</span>
				</span>
			</option>
		</optgroup>
	</select>
</div>
<div class="ui error message wide" [ngClass]="{seven: displaySubmitButton, eight: !displaySubmitButton}" *ngIf="input.touched && !input.valid">
	<p *ngIf="input.hasError('invalidTypeError')">Invalid type error, please enter a valid type.</p>
	<p *ngIf="input.hasError('emptyError')">A value is required.</p>
</div>