@import "_partial/header";
@import "_partial/footer";
@import "./palletColor";

//---- START General website styles ----
.site {
	display: flex;
	flex-direction: column;
}

.site-content {
	flex: 1 0 auto;
	align-items: center;
	margin-top: 74px;
}

a {
	word-wrap: break-word;
}

//remove side margins from header and grids in home
.ui.grid.removeSideMargins {
	margin: -1rem 0;
}

.cover {
	max-width: 100%;
	width: 100%;
}


@media only screen and (max-width: 992px) {
	.site-content {
		margin-top: 64px;
	}
}

@media only screen and (max-width: 767px) {

	.site-content {
		margin-top: 54px;
	}

}

//----- START highlight styles -----
// for reserved CarbonLDP words
.highlight {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: .9rem;
	line-height: 1.4rem;
	padding: 0 4px;
	background-color: #f2f2f2;
	border-radius: 3px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-spacing: 0;
}
//------ END highlight styles ----------------------
//------ START mobile scroll-top button styles -----
.scrollTop {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 101;
	display: none;
}

.ui.button.scrollTop-button {
	margin: 30px 40px;
	padding: 0;
	background-color: #363f48;
	opacity: 0.7;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	display: none;
}

i.icon.scrollTop-icon {
	font-size: 28px;
	color: #19B7FB;
}
//----- END mobile scroll-top button styles -----
//----- General website styles ------------------
