<form [ngFormModel]="editAppForm"
      [ngClass]="{ loading: submitting }"
      class="ui large form segment editAppForm">
	<div class="field" [ngClass]="{ error: (!name.pristine && !name.valid) }">
		<label>Name:</label>
		<input placeholder="e.g. My First App" type="text" ngControl="name">
	</div>
	<div class="field" [ngClass]="{ error: (!description.pristine && !description.valid) }">
		<label>Description:</label>
		<textarea rows="2" placeholder="Description" ngControl="description"></textarea>
	</div>
	<label>Allowed domains:</label>
	<div class="ui basic segment">
		<div class="ui two column middle aligned very relaxed stackable grid">
			<div class="column field">
				<div class="ui toggle checkbox">
					<input type="checkbox" name="allowAllOrigins">
					<label>Allow all origins.</label>
				</div>
			</div>
			<div class="ui vertical divider">
				Or
			</div>
			<div class="column">
				<div class="field">
					<div class="ui action input">
						<input placeholder="URL" type="text">
						<button class="ui button">
							<i class="plus icon"></i>
						</button>
					</div>
				</div>
				<select size="3" name="decision2" multiple>
				</select>
			</div>
		</div>
	</div>
	<button class="ui submit button"
	        (click)="onSubmit(editAppForm.value, $event)">
		Submit
	</button>
</form>
<div class="ui bottom attached error message" *ngIf="canDisplayErrors()">
	<ol class="ui list">
		<li value="*" *ngIf="!name.pristine && name.hasError('required')">
			The name is required.
		</li>
		<li value="*" *ngIf="!description.pristine && description.hasError('required')">
			The description is required.
		</li>
	</ol>
</div>
<div class="ui bottom attached error message" *ngIf="!!errorMessage">
	<i class="close icon" (click)="closeMessage($event)"></i>
	{{errorMessage}}
</div>
<div class="ui bottom attached success message" *ngIf="!!displaySuccessMessage">
	<i class="close icon" (click)="closeMessage($event)"></i>
	The app "{{_name}}" was edited successfully.
</div>