<div class="ui grid">

	<div class="computer tablet only row">
		<div class="ui top fixed borderless menu" id="primary-nav">
			<div class="ui container">

				<a class="item logo" [routerLink]="[ '/Home' ]"><img class="ui small image logo" src="/assets/images/carbon-logo-150x48.png"/></a>

				<a class="item" [routerLink]="[ '/Home' ]" [ngClass]="{active: isActive('/Home') }">Home</a>
				<a class="item" [routerLink]="[ '/Blog' ]" [ngClass]="{active: isActive('/Blog') }">Blog</a>
				<a class="item" [routerLink]="[ '/SPARQLClient' ]" [ngClass]="{active: isActive('/SPARQLClient') }"><i class="terminal icon"></i> SPARQL Editor</a>

				<div class="ui dropdown link item">
					<span class="text">Documentation</span>
					<i class="dropdown icon"></i>

					<div class="menu">
						<a class="item" [routerLink]="[ '/Docs', {id: 'about-carbon-ldp.html'} ]">About Carbon LDP</a>
						<div class="divider"></div>
						<div class="header">Essential Concepts</div>
						<a class="item" [routerLink]="[ '/Docs', {id: 'linked-data-concepts.html'} ]">Linked Data Concepts</a>
						<a class="item" [routerLink]="[ '/Docs', {id: 'ldp-concepts.html'} ]">Linked Data Platform Concepts</a>
						<a class="item" [routerLink]="[ '/Docs', {id: 'carbon-ldp-concepts.html'} ]">Carbon LDP Concepts</a>

						<!--
						<div class="divider"></div>
						<div class="header">JavaScript SDK</div>
						<a class="item" href="#">Getting Started</a>
						<a class="item" href="#">Hello World</a>
						<a class="item" href="#">Developer Guide</a>
						<a class="item" href="#">API</a>
						-->

						<div class="divider"></div>
						<div class="header">REST API</div>
						<a class="item" [routerLink]="[ '/Docs', {id: 'getting-started-with-the-rest-api.html'} ]">Getting Started</a>
						<a class="item" [routerLink]="[ '/Docs', {id: 'interaction-models.html'} ]">Interaction Models</a>
					</div>
				</div>


				<div class="right menu">
					<a *ngIf="!isActive('/Login')" class="item login">
						Log in
					</a>
					<div *ngIf="!isActive('/Login')" class="ui login popup bottom left transition hidden">
						<login></login>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="mobile only row">
		<div class="ui fixed menu">
			<a class="item logo" [routerLink]="[ '/Home' ]"><img class="ui small image logo" src="/assets/images/carbon-logo-150x48.png"/></a>

			<div class="menu">
				<div class="item">
					<a class="ui inverted button">Log in</a>
				</div>
				<div class="item">
					<a class="ui inverted button">Sign up</a>
				</div>
			</div>

			<div class="right menu open">
				<a href="" class="menu item">
					<i class="content icon"></i>
				</a>
			</div>
		</div>
		<div class="ui fixed vertical menu">
			<a class="item" [routerLink]="[ '/Home' ]" [ngClass]="{active: isActive('/Home') }">Home</a>
			<a class="item" [routerLink]="[ '/Blog' ]" [ngClass]="{active: isActive('/Blog') }">Blog</a>
			<a class="item" [routerLink]="[ '/SPARQLClient' ]" [ngClass]="{active: isActive('/SPARQLClient') }"><i class="terminal icon"></i> SPARQL Editor</a>

			<div class="ui dropdown link item">
				<span class="text">Documentation</span>
				<i class="dropdown icon"></i>

				<div class="menu">
					<a class="item" [routerLink]="[ '/Docs', {id: 'about-carbon-ldp.html'} ]">About Carbon LDP</a>
					<a class="item" [routerLink]="[ '/Docs', {id: 'essential-concepts.html'} ]">Essential Concepts</a>
					<div class="header">Essential Concepts</div>
					<a class="item" [routerLink]="[ '/Docs', {id: 'linked-data-concepts.html'} ]">Linked Data Concepts</a>
					<a class="item" [routerLink]="[ '/Docs', {id: 'ldp-concepts.html'} ]">Linked Data Platform Concepts</a>
					<a class="item" [routerLink]="[ '/Docs', {id: 'carbon-ldp-concepts.html'} ]">Carbon LDP Concepts</a>

					<!--
					<div class="divider"></div>
					<div class="header">JavaScript SDK</div>
					<a class="item" href="#">Getting Started</a>
					<a class="item" href="#">Hello World</a>
					<a class="item" href="#">Developer Guide</a>
					<a class="item" href="#">API</a>
					-->

					<div class="divider"></div>
					<div class="header">REST API</div>
					<a class="item" [routerLink]="[ '/Docs', {id: 'getting-started-with-the-rest-api.html'} ]">Getting Started</a>
					<a class="item" [routerLink]="[ '/Docs', {id: 'interaction-models.html'} ]">Interaction Models</a>
				</div>
			</div>
		</div>
	</div>
</div>