<div class="ui grid">
	<div class="row">
		<div class="sixteen wide mobile eight wide computer column">
			<h3 class="ui header">
				<i class="sign out icon"></i>
				Generate a Backup:
			</h3>
			<div class="ui divider"></div>
			<export-backup></export-backup>
		</div>
		<div class="sixteen wide mobile eight wide computer column">
			<h3 class="ui header">
				<i class="unordered list icon"></i>
				List of Backups:
			</h3>
			<div class="ui divider"></div>
			<backups-list></backups-list>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<h3 class="ui header">
				<i class="upload icon"></i>
				Import a Backup:
			</h3>
			<div class="ui divider"></div>
			<import-backup></import-backup>
		</div>
	</div>
</div>