:host {
	display: block;
	min-height: 100%;
}

.ui.grid {
	padding-top: 100px;
	.feature {
		h2 {
			color: white;
			margin-bottom: 20px;
			margin-top: 0;
		}
	}

	.ui.circular.image {
		margin-bottom: 20px;
		margin-top: 30px;
		img {
			display: inline;
			height: 100px;
			width: auto;
		}
	}
}

.big-stone.row{
	border-bottom: 5px solid #0192cf;
}
.newsletter.row {
	background: #F89828;
	h2 {
		margin-bottom: 0;
	}

}

.form.row {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: white;
}



