# ----- Project ignores
db.json
public/

# Semantic UI
**/semantic/dist/
**/semantic/tasks/
**/semantic/gulpfile.js
**/source/assets/semantic/

reports/

# IntelliJ
.idea/workspace.xml
.idea/dictionaries/
# *.iml
# *.iws

# SASS
.sass-cache/
/.sass-cache/*
*/.sass-cache/*

# NPM
**/node_modules/
npm-debug.log

# ----- Operating Systems
# OS X
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes


# GNU/Linux
# https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
*~
!.gitignore

# KDE directory preferences
.directory


# Windows
# https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#  ----- IDEs and editors
# VIM
# https://github.com/github/gitignore/blob/master/Global/vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist


# Sublime Text
# https://github.com/github/gitignore/blob/master/Global/SublimeText.gitignore
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
