sidebar-component {

	section {
		margin-top: 2em;
		padding-top: 2em;
	}

	nav {
		.sticky {
			> .menu > .item.active {
				> a {
					color: #F89828;
					font-size: 1.4em;
				}
			}
		}

		.ui.sticky{
		z-index: 0;
	    }


	}

	.ui.mobile.accordion{

		margin-top: 2em;
		paddingt-top: 2em;

		.item{
		font-size: 1.1em;
		}
	}
}