getting-started-rest-api {

	section {
		margin-top: 2em;
		padding-top: 2em;
	}

	nav {
		.sticky {
			> .menu > .item.active {
				> a {
					color: #F89828;
					font-size: 1.4em;
				}
			}
		}
	}
}