<div class="ui main middle aligned grid container">
	<div class="row">
		<div class="column">
			<h3>
				SPARQL Client
			</h3>
		</div>
	</div>
	<div class="row query-builder">
		<div class="column">
			<div class="ui top attached menu">
				<div class="right menu">
					<a class="show-queries item">
						<i class="sidebar icon"></i>
						Saved Queries
					</a>
				</div>
			</div>
			<div class="ui middle attached segment pushable">
				<div class="ui inverted right vertical very wide dimmed sidebar menu queries-list">
					<p *ng-if="savedQueries.length == 0">
						No saved queries yet.
					</p>
					<a class="item" *ng-for="#query of savedQueries; #i =index" (click)="onClickQuery(i)">
						<button class="mini ui right floated red button" (click)="onClickRemoveQuery(i)">
							<i class="icon remove"></i>
						</button>
						<span class="name">{{query.name}}</span>
						<br/>
						<span class="operation" [ng-class]="query.operation.toLowerCase()">{{query.operation.toLowerCase()}}</span>
					</a>
				</div>
				<div class="pusher">
					<div class="ui basic grid segment" [ng-class]="{loading: isSending}">
						<div class="row">
							<div class="column">
								<div class="ui grid form">
									<div class="fields row">
										<div class="three wide middle aligned right aligned column">
											<label>Endpoint URI:</label>
										</div>
										<div class="thirteen wide column field">
											<input placeholder="https://example.com/parent/.../resource/" [(ng-model)]="currentQuery.endpoint" type="text">
										</div>
									</div>
									<div class="fields row">
										<div class="three wide middle aligned right aligned column">
											<label>Type:</label>
										</div>
										<div class="three wide column field">
											<select #queryType class="ui dropdown" [(ng-model)]="currentQuery.type" (change)="onChangeQueryType($event)">
												<option value="{{SPARQLTypes.query}}">{{SPARQLTypes.query}}</option>
												<option value="{{SPARQLTypes.update}}">{{SPARQLTypes.update}}</option>
											</select>
										</div>
									</div>
									<div class="fields row">
										<div class="three wide right aligned column">
											<label>Query:</label>
										</div>
										<div class="thirteen wide column field">
											<code-mirror [mode]="codeMirrorMode.SPARQL" [read-only]="isSending" [(value)]="sparql" [show-line-numbers]="true"></code-mirror>
										</div>
									</div>
									<div class="fields row" *ng-if="currentQuery.type == 'Query'">
										<div class="three wide right aligned column">
											<label>Output Format:</label>
										</div>
										<div class="three wide column field">
											<select class="ui dropdown" [(ng-model)]="currentQuery.format" [disabled]="isSending || !currentQuery.operation">
												<option *ng-for="#format of formatsAvailable" [value]="format.value">{{format.name}}</option>
											</select>
										</div>
									</div>
									<div class="fields row">
										<div class="three wide right aligned column">
										</div>
										<div class="six wide column field">
											<button class="ui button"
											        [ng-class]="{disabled:!currentQuery.content}">
												<i class="checkmark icon"></i>
												Validate
											</button>
											<button class="ui blue button"
											        [ng-class]="{disabled: !canExecute()}"
											        (click)="onExecute()">
												<i class="play icon"></i>
												Execute
											</button>
										</div>
									</div>
									<!-- /fields row -->
								</div>
								<!-- /form -->
							</div>
							<!-- /row -->
						</div>
						<!-- /form -->
					</div>
					<!-- /segment -->
				</div>
				<!-- /pusher -->
			</div>
			<div class="ui bottom attached segment">
				<div class="ui grid form row">
					<div class="nine wide column">
						<input placeholder="name of the query" type="text" [(ng-model)]="currentQuery.name">
					</div>
					<div class="seven wide column field">
						<button class="ui button"
						        [ng-class]="{loading: isSaving, disabled: !canSaveQuery()}"
						        [disabled]="currentQuery.endpoint && !currentQuery.format && !currentQuery.content"
						        (click)="onClickSaveQuery()"
						        *ng-if="currentQuery.id==null">
							<i class="star icon"></i>
							<span>Save Query</span>
						</button>
						<div class="ui teal buttons btnsGroupSaveQuery"
						     [style.display]="currentQuery.id != null && currentQuery.id != undefined? '':'none'">
							<button class="ui button btnSave"
							        (click)="onClickSaveExistingQuery()">
								<span>Save Query</span>
							</button>
							<div class="ui floating dropdown icon button">
								<i class="dropdown icon"></i>

								<div class="menu">
									<button class="ui basic button item btnSaveAs"
									        (click)="onClickSaveQuery()">
										<i class="save icon"></i> Save As "{{currentQuery.name}}"
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<h3>
				Response Stack
				<button class="negative ui button"
				        [disabled]="responses.length<=0"
				        (click)="onEmptyStack()">
					<i class="trash outline icon"></i>
					Empty Stack <span *ng-if="responses.length>0">({{responses.length}})</span>
				</button>
			</h3>
		</div>
	</div>
	<!--<sparql-response class="row" *ng-for="#response of responses; #i =index" [response]="response" (on-remove)="onRemove($event)" (on-configure)="onConfigureResponse($event)" (on-re-execute)="onReExecute($event)" [(is-re-executing)]="isReExecuting"></sparql-response>-->
	<sparql-response class="row"
	                 *ng-for="#response of responses; #i =index"
	                 [response]="response"
	                 (on-remove)="onRemove($event)"
	                 (on-configure)="onConfigureResponse($event)"
	                 (on-re-execute)="onReExecute($event)"></sparql-response>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
</div>