<div class="error">


	<!-- START: Logo -->
	<div class="error__logo">
		<div class="logo__orbit logo__orbit--outer">
			<div class="logo__electron"></div>
			<div class="logo__electron"></div>
			<div class="logo__electron"></div>
			<div class="logo__electron"></div>
			<div class="logo__orbit logo__orbit--inner">
				<div class="logo__electron"></div>
				<div class="logo__electron"></div>
			</div>
			<p class="logo__code">401</p>
		</div>
	</div>
	<!-- END: Logo -->


	<!-- START: Error message -->
	<div class="error__content">
		<i class="ui lock big icon"></i>
		<p class="content__name">Unauthorized</p>
		<div class="content__description">
			<p>You are not allowed to access this page/resource.</p>
			<a class="ui basic black button" title="Go to Home" href="../">
				<i class="home icon"></i>Go Home
			</a>
		</div>
	</div>
	<!-- END: Error message -->
</div>
<link rel="stylesheet" href="/assets/styles/css/error-pages.css">