---
layout: document
title: Essential Concepts
date: 2017-01-27 16:43:28
---

<div class="category-titleContainer">
        <img class="ui left floated image category-icon"  src="/assets/images/ico-books-300x300.png">
        <h1 class="mainContent-title">Essential concepts</h1>
</div>

<div class="category-description">
    <p>Basic Linked Data knowledge.</p>
    <div class="ui bulleted list">
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="linked-data-concepts">Linked data concepts</a></div>
            <div class="summary">General overview of the basic idea behind Linked Data and why it can make your applications more powerful.</div>
        </div>
    </div>
</div>