app-dev {
	flex: 1 1 100%;

	display: flex;
	flex-direction: column;

	> header {
		flex: 0 0 auto;
	}

	> .page-content {
		flex: 1;

		display: flex;
		flex-direction: row;

		> sidebar {
			flex: 0 0 auto;
			width: 250px;
		}

		> .dashboard-content {
			flex: 1;
			max-height: 100%;

			display: flex;
			flex-direction: column;

			> .menu-bar {
				flex: 0 0 auto;
				height: 40px;
			}

			> .scrollable-content {
				flex: 1;

				display: flex;
				flex-direction: column;

				overflow-y: scroll;
				overflow-x: hidden;

				padding: 5%;

				> * {
					flex: 1;
				}

				> router-outlet {
					flex: 0;
					display: none;
				}

				> footer {
					flex: 0 0 auto;
					height: 69px;
				}
			}
		}
	}
}