<div class="read-mode" *ngIf="mode===modes.READ">
	<p class="value">{{language}}</p>
</div>
<div class="edit-mode ui error form" [hidden]="mode===modes.READ">
	<input type="text" [ngFormControl]="input" [hidden]="true">
	<select class="ui fluid dropdown languages">
		<option value="empty">
			Select a language
		</option>
		<option class="item" *ngFor="let language of languages;" value="{{language.code}}">
			<span>
				<span class="title">{{language.code}}</span>
				<span class="description">{{language.name}}</span>
			</span>
		</option>
	</select>
</div>