signup-thanks {

	a {
		line-height: 70px;
	}

	.ui.grid.container {
		width: 1127px;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.ui.segment {
		font-size: .9em;
	}

	.ui.segment:last-child {
		margin-bottom: 40px;
	}
}