<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p [%40c{1.}] -- %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="WARN"/>
        <Logger name="org.springframework" level="DEBUG"/>
        <Logger name="org.openrdf" level="WARN"/>
        <Logger name="com.carbonldp" level="TRACE"/>

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>