<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Syslog name="RFC5424" format="RFC5424" host="localhost" port="514"
                protocol="TCP" appName="MyApp" includeMDC="true"
                facility="USER" enterpriseNumber="18060" newLine="true"
                messageId="Audit" mdcId="mdc" id="App"
                connectTimeoutMillis="1000" reconnectionDelayMillis="5000">
            <LoggerFields>
                <KeyValuePair key="class" value="%40c{1.}"/>
                <KeyValuePair key="thread" value="%t"/>
                <KeyValuePair key="priority" value="%p"/>
                <KeyValuePair key="category" value="%c"/>
                <KeyValuePair key="exception" value="%ex"/>
                <KeyValuePair key="message" value="%m"/>
            </LoggerFields>
        </Syslog>

        <!--<Syslog name="loggly" host="localhost" port="32768" protocol="UDP"/>-->

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p [%40c{1.}] -- %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="WARN"/>
        <Logger name="org.springframework" level="DEBUG"/>
        <Logger name="org.openrdf" level="WARN"/>
        <Logger name="com.carbonldp" level="TRACE"/>

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RFC5424"/>
        </Root>
    </Loggers>
</Configuration>