---
layout: document
title: Quick Start Guide
description: Quick start instructions to help you get up and running everything you need to work with CarbonLDP.
date: 2017-01-27 16:44:11
script: quick-start-guide
---

<h1>Quick Start Guide</h1>

<div class="ui message registrationSuccessMessage">
    <div class="successMessage">
        <p><strong>Thank you!</strong> Your registration was successful</p>
    </div>
    <div><p>This guide describes how to download, install, and run all the components necessary
        to get started with application development using Carbon LDP as quickly as possible.</p></div>
</div>

<div class="ui mobile only grid">
    <div class="row">
        <staticContentMenu content="mainContent"></staticContentMenu>
    </div>
</div>

<section class="mainContent-section">

    <h2>Overview</h2>

    <p>This guide will cover the following steps, which are commonly required to setup a
        new development environment and to get started building a new application quickly.</p>

    <ol>
        <li>Install Docker</li>
        <li>Configure and run the Carbon platform</li>
        <li>Run the Carbon workbench</li>
        <li>Create an agent</li>
        <li>Create a new application</li>
        <li>Develop with the JavaScript SDK, REST API, and optional tools</li>
        <li>Provide feedback to help improve Carbon LDP</li>
        <li>Update your instances when new versions are released</li>
    </ol>

    <p>This guide will also cover subsequent steps, after the initial setup, such as starting and stopping
        instances, troubleshooting, and updating software when new versions are available.</p>

    <p><i class="youtube play icon"></i> You may want to review the complementary
            <a href="https://www.youtube.com/watch?v=JKJMGplikoE">Quick Start video</a> on Youtube.</i> </p>

    <div class="ui message">
        <div class="content">
            <div class="header">LICENSE Information</div>
            <p>Please review the <a class="item" href="/license">Carbon LDP Software License Agreement</a> before accessing or using the software.
                Downloading, installing, copying, or otherwise using the software constitutes your agreement to the terms of the license.
            </p>
        </div>
    </div>
</section>


<section class="mainContent-section">
    <h2>Install Docker</h2>
    <p>The Carbon Platform and Workbench are packaged in Docker containers, which ensure the software will always run the same,
        regardless of its environment (Mac, Windows, or Linux). Docker allows you to spin up a Carbon platform (server) and
        a workbench (GUI), with just a single command for each.</p>
    <p>To get started, you will first need to install the Docker on your computer. Download the binaries and get
        basic installation instructions for Docker here:</p>
    <p><a href="https://www.docker.com/products/overview#/install_the_platform">https://www.docker.com/products/overview#/install_the_platform</a></p>
    <p>After installing Docker, execute the following command to validate that it was correctly installed and is running in your machine.</p>


    <pre><code class="bash">
    docker run hello-world
    </code></pre>

    <p>If all went well, you should see a message similar to the following in your terminal.</p>


    <pre><code class="bash">
        Hello from Docker!
        This message shows that your installation appears to be working correctly.
    </code></pre>
</section>

<section class="mainContent-section">
    <h2>Configure and run the Carbon platform</h2>
    <p>Carbon LDP runs as a server that listens for, and responds to RESTful HTTP requests for managing resources. This is the essential platform, which provides an authentication
        server, a database and security management. It's where all the data for your application is stored and managed. Now that you have Docker up and running, you can
        configure and run the platform with the following steps:
    </p>

    <section class="mainContent-subSection">
    <h3>Register for updates and community support</h3>

    <p>You should register before running an instance of the platform. Registration allows us to notify you with important information such
        as when new features or bug fixes are released. It is also a suggested prerequisite for getting better community support through GitHub issue tracking; we prioritize our
        registered users first. What's more, registration qualifies you to receive Valued Feedback Rewards for providing useful feedback. If you haven't already
        registered, please <a class="item" href="/get-started">Get Started</a>. After filling out a very brief form, you'll be returned to this guide.</p>
    </section>
    
    <section class="mainContent-subSection">
        <h3>Create the platform's directory structure</h3>
        <p>
            In a folder on your machine, create a directory named <code>carbon</code>, and inside of it create a directory called <code>config</code> and another called
            <code>data</code>. Like this:
        </p>
        <ul>
            <li>carbon
                <ul>
                    <li>config</li>
                    <li>data</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="mainContent-subSection">
        <h3>Create the platform configuration file</h3>
        <p>The platform's configuration is initialized from the properties contained in a file called <code>config.properties</code>, which you will need to create in the
            <code>carbon/config</code> directory.</p>
        <p><strong>config.properties</strong></p>
        
       <pre><code class="bash">
        platform.domain = localhost:8083
        platform.protocol = http

        # These credentials will be used to create the system agent, similar to the root user of linux
        # Please note them down somewhere safe as they will be removed from the configuration file as soon as you run your instance
        platform.system-agent.username = system-agent@example.com
        platform.system-agent.password = system

        # The name of your instance
        authentication.realm-name = Your Carbon LDP Instance

        token.key = generateARandomStringAndPlaceItHere
        </code></pre>
        

        <p>It is important to make note of the <code>platform.system-agent.username</code> and <code>platform.system-agent.password</code> because, for security, those
            properties will be automatically removed from the file when the platform is started for the first time.</p>
        <p>For the <code>authentication.realm-name</code>, you can put any unique name for your server instance. &quot;Local Dev&quot;, for example.</p>
        <p>For the <code>token.key</code>, you can put any random alpha-numeric string. You can use this one that we have just generated for you:</p>

        <pre><code class="asciidoc js-generateRandomToken"></code></pre>

    </section>

    <section class="mainContent-subSection">
        <h3>Run a platform instance</h3>
        <p>Run the following command to start your own platform instance for the first time. The command will fetch the image from a Docker repository and will install and run
            the Carbon Platform.</p>
        <p><strong>Note:</strong> You must replace <code>/your/directory/path/carbon/data</code> with the absolute path to the data directory you just created, and
            <code>/your/directory/path/carbon/config</code> with the absolute path to the config directory. Leave the portions after the colons near each path
            in tact (<code>:/opt/carbon/data</code> and <code>:/opt/carbon/config</code>)</p>

        <pre><code class="bash">
            docker run -d --name carbonldp-platform -p 8083:8083 \
                -v /your/directory/path/carbon/data:/opt/carbon/data \
                -v /your/directory/path/carbon/config:/opt/carbon/config \
                carbonldp/carbonldp-platform
        </code></pre>

        <p>After executing the command, open <code>localhost:8083/platform/api/</code>. If the server is running successfully you should see a response in XML similar to the
            following:</p>
        <p><img class="ui bordered image" src="/assets/images/carbon-platform-api-response.jpg"/></p>
        <p><strong>Notes:</strong></p>
        <ul>
            <li>What you'll see actually see in the browser may depend on the configuration you created and the browser you are using.</li>
            <li>It may take a while for carbon to start. Keep refreshing the page. If after 5 minutes, the XML response still doesn't display, something went wrong.</li>
            <li>If you can't load the page, check the URL. It MUST end with a slash /. All URLs handled by the platform will follow this rule.</li>
        </ul>
        <p>Congratulations! You have a Carbon platform instance up and running!</p>
        <section class="maincontent-subSection">
            <h4>Useful Docker Commands</h4>
            <p>If you have problems running the instance, the following Docker commands may help you troubleshoot your situation.</p>

            <ul>
                <li><code>docker ps --all</code> - Will give you a list of all the containers you have and their status</li>
                <li><code>docker stop carbonldp-platform</code> - Will stop the carbonldp-platform container</li>
                <li><code>docker start carbonldp-platform</code> - Will start the carbonldp-platform container</li>
                <li><code>docker rm carbonldp-platform</code> - Will remove the carbonldp-platform container (so you can recreate it for example)</li>
                <li><code>docker logs carbonldp-platform</code> - Will output the logs of the carbonldp-platform container</li>
                <li><code>docker logs -f carbonldp-platform</code> - Will output the logs of the carbonldp-platform container and will continue to do so until stopped</li>
            </ul>

        </section>
    </section>

</section>


<section class="mainContent-section">
    <h2>Run the Carbon workbench</h2>
    <p>The Carbon workbench is a web app that helps you interact with the Carbon platform through a graphical user interface (GUI). Among the features it provides are</p>
    <ul>
        <li>Document Explorer - a GUI for visualizing and editing Carbon documents</li>
        <li>SPARQL Client - a GUI for entering and execute SPARQL queries and SPARQL updates with results displayed in a friendly format</li>
        <li>App Creator - a GUI for creating and editing Carbon Applications</li>
    </ul>
    <p>Using the Carbon Workbench will aid your development process, especially in the beginning, because it allows you quick, visual verification of the data you create
        using either the JavaScript SDK or REST API. It also provides an easy way to query and inspect or modify data with SPARQL.</p>

    <p>To run the Carbon workbench, execute the following command (replacing the configured host, port, and protocol where appropriate).</p>

    <!-- @formatter:off -->
    <pre><code class="bash">
        docker run -d --name carbonldp-workbench -p 8000:80 \
            -e &quot;CARBON_HOST=localhost:8083&quot; \
            -e &quot;CARBON_PROTOCOL=http&quot; \
            carbonldp/carbonldp-workbench
    </code></pre>
    

    <p>After executing the command, open <code>localhost:8000</code> in your web browser. If the workbench is running, you should be presented with a login page like this:</p>

    <p><img class="ui image" src="/assets/images/workbench-login-prompt.jpg"/></p>

    <p><strong>Note:</strong> It may take a while for the workbench to start. Keep refreshing the page. If, after 5 minutes, the page still doesn't load, something went wrong.</p>

</section>

<section class="mainContent-section" id="create-an-agent">
    <h2>Create an agent</h2>
    <p>At this point, you can login to the Workbench using the platform.system-agent credentials you used when creating the config.properties file. Generally, however, you
        will want to reserve that Agent for special administrative operations only. The Platform System Agent isn't restricted by security. It can do anything inside of your
        instance - even destroy it. That's why it is not recommended to use it for normal actions (think of it like the root user on a Linux machine, which you shouldn't
        use for day-to-day work). Following are the steps required to create a new Agent that you can use for day-to-day work:
    </p>
    <ul>
        <li>Navigate to <code>http://localhost:8000/login</code> in your web browser.</li>
        <li>Click the hyperlink where it says, &quot;Don't have an account? Create one&quot;.</li>
        <li>Enter name, e-mail address, password, and profile ID and then click "Register".</li>
    </ul>
    <p>You should now be able to login with the e-mail address and password you used to register your new agent.</p>
</section>

<section class="mainContent-section" id="create-a-new-application">
    <h2>Create a new application</h2>
    <p>&quot;Applications&quot; are the data spaces where Carbon helps you manage the data for a given solution. Multiple applications can exist on a single platform instance.
        If you are planning to store data for a blog, for example, you can create an application for it (e.g. &quot;My Blog&quot;). Now you'll create a discussion forum? Great,
        another application it is (e.g. &quot;My Discussion Forum&quot;). And so on.</p>

    <p>Applications separate not only your data, but your security scheme and configuration too.</p>

    <p>To create your first application, login to the workbench. The dashboard will appear empty (it's a placeholder for some future features). Click on &quot;Apps&quot; in
        the left-hand sidebar menu as shown below.</p>


    <p><img class="ui bordered image" src="/assets/images/click-apps-in-workbench.jpg" alt="Click Apps in the Workbench left-hand sidebar menu."/></p>

    <p>Next, click the "Create app" button as shown below...</p>

    <p><img class="ui bordered image" src="/assets/images/creat-app-btn-workbench.jpg" alt="Click Create App button in the Workbench"/></p>

    <p>Fill out the resulting form with basic information about your app. This information is used to display your app in the applications list. The <code>slug</code> will
        be used in a unique identifier for your app and will appear in a root position of all Carbon URLs used with your app. Following is an example:</p>

    <p><img class="ui bordered image" src="/assets/images/new-app-form-example.jpg" alt="Example New App form populated in the Workbench"/></p>

    <p>Once you've successfully created your first app, you can click on Apps in the left-hand sidebar menu to see it in the applications list as shown below. Clicking on the
        name of the application in the applications list, will navigate into the application space where you can then use the Document Explorer, the SPARQL Client, and other
        features of the Workbench.</p>

    <p><img class="ui bordered image" src="/assets/images/apps-list-workbench.jpg" alt="Listing Apps in the Workbench"/></p>

</section>

<section class="mainContent-section">
    <h2>Develop With the JavaScript SDK, REST API, and optional tools</h2>

    <!-- TODO: Change this instructions to a more generic list of how to use the platform (through the REST API, for example) -->
    <p>Of course, the app you created is not a functioning app; it's just the data space in Carbon for the application you now need to build. The next step is
        to use the JavaScript SDK with your client-side code to build a client application. Head over to
        <a class="item" href="/documentation/javascript-sdk/getting-started">Getting Started with the JavaScript SDK</a> to learn how.</p>

    <p>Note: If you are running your own local instance of the platform, you'll likely need to turn off https in the SDK. To do that configure the following setting
        when creating your platform context (you'll understand what this means after reading the JavaScript SDK Getting Started guide):</p>

    <pre><code class="actionscript">
        carbon.setSetting( &quot;http.ssl&quot;, false );
    </code></pre>

    <p>You should also bookmark the <a href="https://carbonldp.github.io/carbonldp-js-sdk">Carbon LDP JavaScript SDK API Reference</a> on GitHub, which lists
        all the API objects and methods you can use.</p>

    <section class="mainContent-subSection">
        <h3>REST API, and optional tools</h3>

        <p>Following are some additional resources that you might find helpful during your development.</p>

        <ul>
            <li><strong><a class="item" href="/documentation">Documentation</a></strong> - The Carbon LDP product documentation for developers.</li>
            <li><strong><a class="item" href="/documentation/rest-api/getting-started">Getting Started with the REST API</a></strong> - You can do anything with
                the REST API that you can do with the JavaScript SDK. However, the REST API is for lower-level programming that is generally more tedious than using the
                JavaScript SDK. Most developers prefer to work primarily with the JavaScript SDK.
            </li>
            <li><strong><a href="https://github.com/CarbonLDP/angular2-carbonldp">angular2-carbonldp</a></strong> - helper classes that simplify the integration between Angular
                and CarbonLDP.
            </li>
            <li><strong><a href="https://github.com/CarbonLDP/angular2-jspm-carbon-boilerplate">angular2-jspm-carbon-boilerplate</a></strong> - Boilerplate project to use as a
                starting point for building applications with Carbon, Angular, and JSPM.
            </li>
            <li><strong><a href="https://github.com/CarbonLDP/carbon-typescript-boilerplate">carbon-typescript-boilerplate</a></strong> - Boilerplate project that shows how to
                setup a TypeScript application with the Carbon LDP SDK.
            </li>
            <li><strong><a href="https://github.com/CarbonLDP/carbon-js-es2015-boilerplate">carbon-js-es2015-boilerplate</a></strong> - Boilerplate that shows how to setup a
                JavaScript ES2015 application with the Carbon LDP SDK.
            </li>
            <li><strong><a href="https://github.com/CarbonLDP/carbon-js-es5-boilerplate">carbon-js-es5-boilerplate</a></strong> - Boilerplate that shows how to setup the Carbon
                LDP SDK in a JavaScript ES5 application.
            </li>
        </ul>


    </section>

</section>

<section class="mainContent-section">
    <h2>Provide Feedback to Help Improve the Product</h2>
    <p>Carbon LDP is currently in BETA. As such, we urge you to provide feedback as you evaluate the product so that we can improve it. Both positive and negative feedback are
        welcome; we love it all. In fact, we even give Valued Feedback Rewards to registered users who provide feedback (feature requests, identified defects, etc).</p>

    <p>Please provide feedback by opening issues in Carbon LDP's general wiki and issue tracking project,
        <a href="https://github.com/CarbonLDP/carbonldp">carbonldp on GitHub</a>.</p>

    <p>To learn more about how we use GitHub to track project issues and feedback submitted by the user community, see:
        <a href="https://github.com/CarbonLDP/carbonldp/wiki/GitHub-Conventions-and-Workflow-for-Carbon-LDP">GitHub Conventions and Workflow for Carbon LDP</a>.</p>
</section>


<section class="mainContent-section">
    <h2>Update Your Instances When New Versions are Released</h2>
    <p>Whenever we release a new version of the platform or the workbench, you should update your instances so you benefit from the new features and bug fixes. To be notified
        when new versions are available, please be sure to register. If you haven't already registered, please <a class="item" href="/get-started">Get Started</a>.
    </p>

    <p>To update the platform and workbench you need to pull the remote images again by running the following commands:
    <p>

        <!-- @formatter:off -->
    <pre><code class="bash">
        docker pull carbonldp/carbonldp-platform:latest
    </code></pre>
    

    <!-- @formatter:off -->
    <pre><code class="bash">
        docker pull carbonldp/carbonldp-workbench:latest
    </code></pre>
    

    <p>After that, stop your running instances and delete them with the following commands:</p>




    <!--&lt;!&ndash; @formatter:off &ndash;&gt;-->
    <pre><code class="bash">
       docker stop carbonldp-platform && docker rm carbonldp-platform
    </code></pre>
    

    <!-- @formatter:off -->
    <pre><code class="bash">
        docker stop carbonldp-workbench && docker rm carbonldp-workbench
    </code></pre>
    

    <p>You should then create a data backup just in case something goes wrong with the new version. To do that, copy and rename the carbon folder containing your config and
        data.</p>

    <p>You can then spin your instances again with the same commands you used before:</p>

    <pre><code class="bash">
    docker run -d --name carbonldp-platform -p 8083:8083 \
        -v /your/directory/path/carbon/data:/opt/carbon/data \
        -v /your/directory/path/carbon/config:/opt/carbon/config \
        carbonldp/carbonldp-platform
    </code></pre>

    <pre><code class="bash">
    docker run -d --name carbonldp-workbench -p 8000:80 \
        -e &quot;CARBON_HOST=localhost:8083&quot; \
        -e &quot;CARBON_PROTOCOL=http&quot; \
        carbonldp/carbonldp-workbench:latest
    </code></pre>
    

</section>

