sidebar.ui.vertical.menu {
	.item.app {
		.title {
			height: 2em;
			line-height: 2em;
		}
	}
	> div {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	margin: 0;
	border-radius: 0;
	width: 300px;
	> .item, > .divider {
		min-width: 300px;
		overflow-x: visible;
	}
	> .active.item:last-child {
		border-radius: 0;
	}
	border-top: 1px solid rgba(255, 255, 255, 0.0784314);
	border-right: 1px solid rgba(255, 255, 255, 0.0784314);
}