document-property {
	.content {
		.header {
			.slug {
				color: orangered;
			}
		}

		.description {
			.ui.accordion {
				width: 100%;
			}
			.edit.form.segment {
				padding: 0;
			}
		}
	}
}

document-property.has-changed > .content > .indicator {
	float: right;
}

.ui.items > .item.has-changed.has-changed {
	background-color: #FFFFE0;
	padding-left: 15px;
	padding-right: 15px;
}

.ui.divided.items > .item .content {
	margin-top: 2%;
}