document-property {
	.content {
		.header {
			.slug {
				color: orangered;
			}
		}

		.description {
			.ui.accordion {
				width: 100%;
			}
			.edit.form.segment {
				padding: 0;
			}
		}
	}
}

.ui.divided.items > .item .content {
	margin-top: 2%;
}