<div class="content" *ngIf="name === '@id'">
	<div class="header">
		<p *ngIf="!isUrl(value)">
			<i class="file outline icon"></i> {{value}}</p>
		<p *ngIf="isUrl(value)">
			<i class="file outline icon"></i>
			<a class="name" [attr.href]="value"
			   target="_blank"><span class="parentURI">
				{{getParentURI(value)}}</span><span class="slug">{{getSlug(value)}}</span>
			</a>
		</p>
	</div>
</div>

<div class="content" *ngIf="name === '@type'">
	<p class="header">
		{{name}}
	</p>
	<div class="description" *ngIf="isArray(value)">
		<div class="ui horizontal list">
			<div class="item" *ngFor="let type of value; let j = index;">
				<div class="ui label">
					<i [ngClass]="getTypeIcon(type)" class="icon"></i>
					{{getDisplayName(type)}}
				</div>
			</div>
		</div>
		<table class="ui very compact striped small celled table">
			<tr class="center aligned">
				<th>{{name}}</th>
			</tr>
			<tr *ngFor="let type of value; let j = index;">
				<td>{{type}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="content" *ngIf="name !== '@id' && name !== '@type'">
	<p class="ui yellow label indicator" *ngIf="propertyHasChanged">Changed</p>
	<div class="header">
		<p>{{getDisplayName(name)}}</p>
	</div>
	<div class="meta">
		<a *ngIf="isUrl(name)" [attr.href]="name" target="_blank">{{name}}</a>
		<p *ngIf="!isUrl(name)">{{name}}</p>
	</div>
	<div class="description">
		<literals [(literals)]="literals"
		          (onLiteralsChanges)="checkForChangesOnLiterals($event)"></literals>
		<pointers [(pointers)]="pointers"
		          [bNodes]="bNodes"
		          [namedFragments]="namedFragments"
		          (onPointersChanges)="checkForChangesOnPointers($event)"></pointers>
		<div class="ui styled accordion" *ngIf="hasHeader('@list')">
			<div class="title" *ngFor="let item of value; let i = index;">
				<i class="dropdown icon"></i>
				@list
			</div>
			<div class="content" *ngFor="let item of value; let i = index;">
				<property-list [list]="item['@list']"
				               (onGoToBNode)="goToBNode($event)"></property-list>
			</div>
		</div>
	</div>
</div>