<form class="ui segment" [ngFormModel]="importForm">
	<div class="ui two column middle aligned grid form">
		<div class="column">
			<div class="field">
				<label>Enter the URI of the backup:</label>
				<div class="ui left icon input">
					<input type="text" placeholder="Backup URI" ngControl="uri" (blur)="onInputLostFocus($event)">
					<i class="world icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Or select a backup from below:</label>
				<select class="ui scrolling dropdown backups"
				        ngControl="backup"
				        (blur)="onInputLostFocus($event)"
				        [disabled]="backups.length===0">
					<option value="" *ngIf="backups.length>0" selected="selected">Please select a backup.</option>
					<option value="" *ngIf="backups.length===0" disabled="disabled" selected="selected">No available backups.</option>
					<option *ngFor="let backup of backups; let i=index" [attr.value]="backup.id">
						{{backup.modified | date:"MMM dd, yyy - HH:mm"}}
					</option>
				</select>
			</div>
		</div>
		<div class="ui vertical divider">
			Or
		</div>
		<div class="column">
			<div class="field">
				<label>Upload a backup:</label>
				<input type="file" ngControl="backupFile" (blur)="onInputLostFocus($event)" (change)="onFileChange($event)"/><br/>
			</div>
		</div>
	</div>
	<div class="ui grid">
		<div class="row">
			<div class="column">
				<button class="ui button"
				        [ngClass]="{loading: canDisplayImportButtonLoading()}"
				        [disabled]="running.active"
				        [disabled]="importForm.hasError('invalidImportForm')"
				        (click)="onImportBackup()">
					<span *ngIf="uploading.active">Uploading File...</span>
					<span *ngIf="creating.active">Creating Job...</span>
					<span *ngIf="executing.active">Executing Job...</span>
					<span *ngIf="!uploading.active && !creating.active && !executing.active">Import</span>
				</button>
			</div>
		</div>
		<div class="row" *ngIf="running.active">
			<div class="column">
				<div class="ui stackable fluid steps">
					<div class="step" *ngIf="!!backupFileBlob" [ngClass]="{active:uploading.active, completed:uploading.done}">
						<i class="upload icon" [ngClass]="{'loading spinner':uploading.active}"></i>
						<div class="content">
							<div class="title">Uploading...</div>
							<div class="description">Uploading your backup.</div>
						</div>
					</div>
					<div class="step" [ngClass]="{active:creating.active, completed:creating.done}">
						<i class="asterisk icon" [ngClass]="{'loading spinner':creating.active}"></i>
						<div class="content">
							<div class="title">Creating import...</div>
							<div class="description">Creating a backup import job.</div>
						</div>
					</div>
					<div class="step" [ngClass]="{active:executing.active, completed:executing.done}">
						<i class="checkmark grey icon" [ngClass]="{'loading spinner':executing.active}"></i>
						<div class="content">
							<div class="title">Executing...</div>
							<div class="description">
								<p>Executing your import job.</p>
								<p>Please, wait...</p>
							</div>
						</div>
					</div>
					<div class="step" [ngClass]="{active:executing.done, completed:executing.done}" *ngIf="executing.done">
						<i class="checkered flag icon"></i>
						<div class="content">
							<div class="title">Finished</div>
							<div class="description"><p>Import completed.</p>
								<button class="ui mini button" *ngIf="executing.done" (click)="finishImport()">Ok</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>