<form class="ui segment" [ngFormModel]="importForm">
	<div class="ui two column middle aligned grid form">
		<div class="column">
			<div class="field">
				<label>Enter the URI of the backup:</label>
				<div class="ui left icon input">
					<input type="text" placeholder="Backup URI" ngControl="uri" (blur)="onInputLostFocus($event)">
					<i class="world icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Or select a backup from below:</label>
				<select class="ui scrolling dropdown backups"
				        ngControl="backup"
				        (blur)="onInputLostFocus($event)"
				        [disabled]="backups.length===0">
					<option value="" *ngIf="backups.length>0" selected="selected">Please select a backup.</option>
					<option value="" *ngIf="backups.length===0" disabled="disabled" selected="selected">No available backups.</option>
					<option *ngFor="let backup of backups; let i=index" [attr.value]="backup.id">
						{{backup.modified | date:"MMM dd, yyy - HH:mm"}}
					</option>
				</select>
			</div>
		</div>
		<div class="ui vertical divider">
			Or
		</div>
		<div class="column">
			<div class="field">
				<label>Upload a backup:</label>
				<input type="file" ngControl="backupFile" (blur)="onInputLostFocus($event)" (change)="onFileChange($event)"/><br/>
			</div>
		</div>
	</div>
	<div class="button container right aligned">
		<button class="ui button"
		        [disabled]="importForm.hasError('invalidImportForm')"
		        (click)="onImportBackup(uri.value)">Import
		</button>
	</div>
</form>