:host {
	display: block;
}

.ui.grid {
	padding-top: 100px;
	.row {
		padding: 0;
	}

	.header.row {
		padding-top: 50px;
		color: #363F48;
	}

	.form.row {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.newsletter.row {
		background: #F89828;
		padding-top: 20px;
		padding-bottom: 0;
		h2 {
			color: white;
			margin-bottom: 0;
		}

	}

}


