<form class="ui form attached segment large registrationForm" role="form" (ngSubmit)="onSubmit(registrationForm.value, $event)" #registrationForm="ngForm">
	<div class="field" [ngClass]="{ error: (email.touched && !email.valid) }">
		<div class="ui left icon input">
			<i class="user icon"></i>
			<input type="text"
			       placeholder="E-mail address"
			       name="email"
			       [(ngModel)]="register.email"
			       required cp-email
			       #email="ngModel"
			       [disabled]="true">
		</div>
	</div>
	<div class="field" [ngClass]="{ error: (password.touched && !password.valid) }">
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input type="password"
			       name="password"
			       [(ngModel)]="register.password"
			       placeholder="password"
			       required
			       #password="ngModel"
			       [disabled]="true">
		</div>
	</div>
	<div class="field" [ngClass]="{ error: ( confirmPassword.touched && !confirmPassword.valid) }">
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input type="password"
			       name="confirm"
			       [(ngModel)]="register.confirmPassword"
			       placeholder="confirm password"
			       [matchTo]="register.password"
			       [control]="confirmPassword"
			       required cp-match
			       #confirmPassword="ngModel"
			       [disabled]="true">

		</div>
	</div>
	<!--Always disabled-->
	<button type="submit"
	        [ngClass]="{ loading: sending }"
	        class="ui fluid large submit button"
	        [disabled]="!registrationForm.valid || registrationForm.valid"
	        (click)="onSubmit(registrationForm.value, $event)">
		Register
	</button>
</form>
<div class="ui bottom attached negative message"
     *ngIf="(registrationForm.touched && !registrationForm.valid )">

	<ul *ngIf="!email.valid" class="list">
		<li *ngIf="email.errors.required">email is required.</li>
		<li *ngIf="!email.errors.required && email.errors.invalidEmailAddress">Enter a valid email address.</li>
		<li *ngIf="!!errorMessage">{{errorMessage}}</li>
	</ul>
	<ul *ngIf="!password.valid" class="list">
		<li *ngIf="password.errors.required">password is required.</li>
	</ul>
	<ul *ngIf="!confirmPassword.valid" class="list">
		<li *ngIf="confirmPassword.errors.required">password confirmation is required.</li>
		<li *ngIf="confirmPassword.errors.matchError">passwords do not match.</li>
	</ul>
</div>