<div class="ui grid">

	<div class="computer only row">
		<div class="ui top fixed borderless menu primary-nav">
			<div class="ui container">

				<a class="item logo" [routerLink]="[ '' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png" alt="Home"/></a>

				<a class="item" [routerLink]="[ '/get-started' ]">Get Started</a>
				<div class="ui dropdown link item"><a class="item" [routerLink]="[ '/documentation' ]">Documentation</a><i class="dropdown icon"></i>

					<div class="menu">
						<a class="item" [routerLink]="[ '/documentation/quick-start-guide' ]">Quick Start Guide</a>
						<div class="divider"></div>

						<a class="home" [routerLink]="[ '/documentation/essential-concepts' ]">Essential Concepts</a>
						<a class="item" [routerLink]="[ '/documentation/linked-data-concepts' ]">Linked Data Concepts</a>

						<div class="divider"></div>
						<a class="home" [routerLink]="[ '/documentation/javascript-sdk' ]">JavaScript SDK</a>
						<a class="item" [routerLink]="[ '/documentation/javascript-sdk-getting-started' ]">Getting Started</a>
						<a class="item" [routerLink]="[ '/documentation/javascript-sdk-object-model' ]">Object Model</a>

						<div class="divider"></div>
						<a class="home" [routerLink]="[ '/documentation/rest-api' ]">REST API</a>
						<a class="item" [routerLink]="[ '/documentation/rest-api-getting-started' ]">Getting Started with the REST API</a>
						<a class="item" [routerLink]="[ '/documentation/rest-api-object-model' ]">REST API Object Model</a>

						<div class="divider"></div>
						<a class="item" [routerLink]="[ '/documentation' ]">More...</a>
					</div>
				</div>
				<a class="item" [routerLink]="[ '/community-and-support' ]">Community &amp; Support</a>
				<a class="item" [routerLink]="[ '/about' ]">About</a>

				<!--<div *ngIf=" ! authService.isAuthenticated() " class="right menu">
					<a *ngIf="!isActive('./Login')" class="item login">
						Log in
					</a>
					<div *ngIf="!isActive('./Login')" class="ui login popup bottom right transition hidden">
						<cp-login [container]="'.login.popup'"></cp-login>
					</div>
				</div>
				<div *ngIf=" authService.isAuthenticated() " class="right menu">
					<a class="item" [routerLink]="[ '/AppDev' ]">Dashboard</a>
					<div class="ui dropdown item">
						User Name <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" (click)="logOut()">
								<i class="sign out icon"></i>
								Log Out
							</a>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div class="mobile tablet only row">
		<div class="ui fixed menu">

			<a class="item logo" [routerLink]="[ './Home' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png" alt="Home"/></a>
			<!--
				<div class="menu">
					<a class="item">
						Log in
					</a>
					<a class="item">
						Sign up
					</a>
				</div>
			-->

			<div class="right menu open">
				<a href="" class="menu item">
					<i class="content icon"></i>
				</a>
			</div>
		</div>
		<div class="ui fixed vertical menu">

			<!--TODO: REMOVE IS ACTIVE-->

			<a class="item" [routerLink]="[ '/get-started' ]">Get Started</a>
			<!--<a class="item" [routerLink]="[ './Blog' ]" [ngClass]="{active: isActive('./Blog') }">Blog</a>
			<a *ngIf="!isActive('./Login')" class="item login" [routerLink]="[ '/AppDevLogin' ]">
				Log in
			</a>-->

			<div class="ui dropdown link item"><a class="item" [routerLink]="[ '/documentation' ]">Documentation</a><i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" [routerLink]="[ '/documentation/quick-start-guide' ]">Quick Start Guide</a>
					<div class="divider"></div>

					<a class="home" [routerLink]="[ '/documentation/essential-concepts' ]">Essential Concepts</a>
					<a class="item" [routerLink]="[ '/documentation/linked-data-concepts' ]">Linked Data Concepts</a>

					<div class="divider"></div>
					<a class="home" [routerLink]="[ '/documentation/rest-api' ]">REST API</a>
					<a class="item" [routerLink]="[ '/documentation/rest-api-getting-started' ]">Getting Started with the REST API</a>
					<a class="item" [routerLink]="[ '/documentation/rest-api-obect-model' ]">REST API Object Model</a>
					<div class="divider"></div>
					<a class="home" [routerLink]="[ '/documentation/javascript-sdk' ]">JavaScript SDK</a>
					<a class="item" [routerLink]="[ '/documentation/javascript-sdk-getting-started' ]">Getting Started</a>
					<a class="item" [routerLink]="[ '/documentation/javascript-sdk-object-model' ]">Object Model</a>
					<div class="divider"></div>
					<a class="item" [routerLink]="[ '/documentation' ]">More...</a>
				</div>
			</div>
			<a class="item" [routerLink]="[ '/community-and-support' ]">Community &amp; Support</a>
			<a class="item" [routerLink]="[ '/about' ]">About</a>
		</div>
	</div>
</div>