<div class="ui grid">

	<div class="computer tablet only row">
		<div class="ui top fixed borderless menu primary-nav">
			<div class="ui container">

				<a class="item logo" [routerLink]="[ './Home' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png"/></a>

				<!--<a class="item" [routerLink]="[ './Home' ]" [ngClass]="{active: isActive('./Home') }">Home</a>-->
				<!--<a class="item" [routerLink]="[ './Blog' ]" [ngClass]="{active: isActive('./Blog') }">Blog</a>-->

				<div class="ui dropdown link item">Documentation<i class="dropdown icon"></i>

					<div class="menu">
						<a class="item" [routerLink]="[ './Documentation/AboutCarbonLDP' ]">About Carbon LDP</a>
						<div class="divider"></div>
						<div class="header">Essential Concepts</div>
						<a class="item" [routerLink]="[ './Documentation/LinkedDataConcepts' ]">Linked Data Concepts</a>
						<!--<a class="item" [routerLink]="[ './Documentation/LDPConcepts' ]">Linked Data Platform Concepts</a>-->
						<!--<a class="item" [routerLink]="[ './Documentation/CarbonLDPConcepts' ]">Carbon LDP Concepts</a>-->

						<div class="divider"></div>
						<div class="header">REST API</div>
						<a class="item" [routerLink]="[ './Documentation/RESTApiGettingStarted' ]">Getting Started</a>
						<a class="item" [routerLink]="[ './Documentation/RESTApiInteractionModels' ]">Interaction Models</a>

						<div class="divider"></div>
						<div class="header">JavaScript SDK</div>
						<a class="item" [routerLink]="[ './Documentation/JavaScriptSDKGettingStarted' ]">Getting Started</a>
						<a class="item" [routerLink]="[ './Documentation/JavaScriptSDKContexts' ]">Contexts</a>
						<a class="item" [routerLink]="[ './Documentation/JavaScriptSDKObjectModel' ]">Object Model</a>
					</div>
				</div>
				<!--<div *ngIf=" ! authService.isAuthenticated() " class="right menu">
					<a *ngIf="!isActive('./Login')" class="item login">
						Log in
					</a>
					<div *ngIf="!isActive('./Login')" class="ui login popup bottom right transition hidden">
						<login [container]="'.login.popup'"></login>
					</div>
				</div>
				<div *ngIf=" authService.isAuthenticated() " class="right menu">
					<a class="item" [routerLink]="[ '/AppDev' ]">Dashboard</a>
					<div class="ui dropdown item">
						User Name <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" (click)="logOut()">
								<i class="sign out icon"></i>
								Log Out
							</a>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div class="mobile only row">
		<div class="ui fixed menu">
			<a class="item logo" [routerLink]="[ './Home' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png"/></a>
			<!--
				<div class="menu">
					<a class="item">
						Log in
					</a>
					<a class="item">
						Sign up
					</a>
				</div>
			-->
			<div class="right menu open">
				<a href="" class="menu item">
					<i class="content icon"></i>
				</a>
			</div>
		</div>
		<div class="ui fixed vertical menu">
			<a class="item" [routerLink]="[ './Home' ]" [ngClass]="{active: isActive('./Home') }">Home</a>
			<!--<a class="item" [routerLink]="[ './Blog' ]" [ngClass]="{active: isActive('./Blog') }">Blog</a>
			<a *ngIf="!isActive('./Login')" class="item login" [routerLink]="[ '/AppDevLogin' ]">
				Log in
			</a>-->
			<div class="ui dropdown link item">Documentation<i class="dropdown icon"></i>

				<div class="menu">
					<a class="item" [routerLink]="[ './Documentation/AboutCarbonLDP' ]">About Carbon LDP</a>
					<div class="divider"></div>
					<div class="header">Essential Concepts</div>
					<a class="item" [routerLink]="[ './Documentation/LinkedDataConcepts' ]">Linked Data Concepts</a>
					<!--<a class="item" [routerLink]="[ './Documentation/LDPConcepts' ]">Linked Data Platform Concepts</a>-->
					<!--<a class="item" [routerLink]="[ './Documentation/CarbonLDPConcepts' ]">Carbon LDP Concepts</a>-->

					<div class="divider"></div>
					<div class="header">REST API</div>
					<a class="item" [routerLink]="[ './Documentation/RESTApiGettingStarted' ]">Getting Started</a>
					<a class="item" [routerLink]="[ './Documentation/RESTApiInteractionModels' ]">Interaction Models</a>

					<div class="divider"></div>
					<div class="header">JavaScript SDK</div>
					<a class="item" [routerLink]="[ './Documentation/JavaScriptSDKGettingStarted' ]">Getting Started</a>
				</div>
			</div>
		</div>
	</div>
</div>