<div class="ui grid">

	<div class="computer tablet only row">
		<div class="ui top fixed borderless menu primary-nav">
			<div class="ui container">

				<a class="item logo" [routerLink]="[ './Home' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png"/></a>

				<a class="item" [routerLink]="[ './Home' ]" [ngClass]="{active: isActive('./Home') }">Home</a>
				<a class="item" [routerLink]="[ './Blog' ]" [ngClass]="{active: isActive('./Blog') }">Blog</a>

				<div class="ui dropdown link item">Documentation<i class="dropdown icon"></i>

					<div class="menu">
						<a class="item" [routerLink]="[ './Documents/AboutCarbonLDP' ]">About Carbon LDP</a>
						<div class="divider"></div>
						<div class="header">Essential Concepts</div>
						<a class="item" [routerLink]="[ './Documents/LinkedDataConcepts' ]">Linked Data Concepts</a>
						<a class="item" [routerLink]="[ './Documents/LDPConcepts' ]">Linked Data Platform Concepts</a>
						<a class="item" [routerLink]="[ './Documents/CarbonLDPConcepts' ]">Carbon LDP Concepts</a>

						<div class="divider"></div>
						<div class="header">REST API</div>
						<a class="item" [routerLink]="[ './Documents/GettingStartedWithTheRestApi' ]">Getting Started</a>
						<a class="item" [routerLink]="[ './Documents/InteractionModels' ]">Interaction Models</a>
					</div>
				</div>
				<div class="right menu">
					<a *ngIf="!isActive('./Login')" class="item login">
						Log in
					</a>
					<div *ngIf="!isActive('./Login')" class="ui login popup bottom left transition hidden">
						<login [container]="'.login.popup'"></login>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile only row">
		<div class="ui fixed menu">
			<a class="item logo" [routerLink]="[ './Home' ]"><img class="ui small image logo" src="assets/images/carbon-logo-150x48.png"/></a>

			<div class="menu">
				<a class="item">
					Log in
				</a>
				<a class="item">
					Sign up
				</a>
			</div>

			<div class="right menu open">
				<a href="" class="menu item">
					<i class="content icon"></i>
				</a>
			</div>
		</div>
		<div class="ui fixed vertical menu">
			<a class="item" [routerLink]="[ './Home' ]" [ngClass]="{active: isActive('./Home') }">Home</a>
			<a class="item" [routerLink]="[ './Blog' ]" [ngClass]="{active: isActive('./Blog') }">Blog</a>

			<div class="ui dropdown link item">Documentation<i class="dropdown icon"></i>

				<div class="menu">
					<a class="item" [routerLink]="[ './Documents/AboutCarbonLDP' ]">About Carbon LDP</a>
					<div class="divider"></div>
					<div class="header">Essential Concepts</div>
					<a class="item" [routerLink]="[ './Documents/LinkedDataConcepts' ]">Linked Data Concepts</a>
					<a class="item" [routerLink]="[ './Documents/LDPConcepts' ]">Linked Data Platform Concepts</a>
					<a class="item" [routerLink]="[ './Documents/CarbonLDPConcepts' ]">Carbon LDP Concepts</a>

					<div class="divider"></div>
					<div class="header">REST API</div>
					<a class="item" [routerLink]="[ './Documents/GettingStartedWithTheRestApi' ]">Getting Started</a>
					<a class="item" [routerLink]="[ './Documents/InteractionModels' ]">Interaction Models</a>
				</div>
			</div>
		</div>
	</div>
</div>