<div class="ui sixteen wide column accordion">
	<div class="ui top attached menu title" [ngClass]="[ response.result ]">
		<div class="header item">
			<span>{{response.query.operation}}</span>
			<span> <i>({{response.duration}} ms)</i></span>
		</div>
		<div class="right menu">
			<div class="ui small basic icon buttons" style="border:none;">
				<button (click)="toggleAccordion()" class="ui button"><i class="caret icon" [ngClass]="{
						down: accordionOpen,
						right: ! accordionOpen
					}"></i></button>
				<button (click)="onConfigureResponse()" class="ui button btn-settings"><i class="configure icon"></i></button>
				<button (click)="onReExecuteResponse()" class="ui button btn-refresh"><i class="refresh icon"></i></button>
				<button (click)="onRemoveResponse()" class="ui button btn-close"><i class="remove icon"></i></button>
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment content {{response.result}}" [ngClass]="{loading:response.isReExecuting}">
		<div class="ui pointing secondary tabular menu">
			<a class="item active" [attr.data-tab]="index+'_first'" data-tab="first">Results</a>
			<a class="item" [attr.data-tab]="index+'_second'" data-tab="second">Raw Data</a>
			<a class="item" [attr.data-tab]="index+'_third'" data-tab="third">SPARQL Request</a>
		</div>
		<div class="tabs">
			<!-- Resultset -->
			<!--<resultset class="ui active tab" [outputformat]="outputformat" [resultset]="response.resultset" [attr.data-tab]="index+'_first'" data-tab="first"></resultset>-->
			<div class="ui active tab" [attr.data-tab]="index+'_first'" data-tab="first">
				<code-mirror *ngIf="!!outputformat && outputformat != SPARQLFormats.table"
				             [mode]="outputformat"
				             [readOnly]="'nocursor'"
				             [(value)]="response.data"></code-mirror>
				<resultset-table *ngIf="outputformat === SPARQLFormats.table"
				                 [(resultset)]="response.resultset"
				                 [query]="response.query"
				                 [prefixes]="prefixes"></resultset-table>
			</div>
			<!-- End: Resultset -->
			<!-- Response data -->
			<pre class="ui tab secondary segment" [attr.data-tab]="index+'_second'" data-tab="second">{{response.data}}</pre>
			<!-- End: Response data -->
			<!-- SPARQL Request -->
			<div class="ui tab segment" [attr.data-tab]="index+'_third'" data-tab="third"></div>
			<!-- End: SPARQL Request -->
		</div>
	</div>
</div>