<%var versionSelected = page.version? page.version: theme.versions.current %>
<%var versionsPerDocument = site.data["versions-per-document"];
  var versionsThatApply = versionsPerDocument[page.title]? versionsPerDocument[page.title]:theme.versions.allVersions%>
<div class="ui container grid">
    <div class="row">
        <div class="twelve wide computer only twelve wide tablet only sixteen wide mobile only column">
                <div class="mainContent">
                    <%- partial("_partial/breadcrumb", {shortBreadcrumb:false})%>
                    <% if ( page.notDocumented ) {%>
                        <%- partial("_partial/not-yet-documented")%>
                    <% } else { %>
                    <%- page.content %>
                    <% } %>

                </div>
            </div>

        <div class="four wide computer tablet only column">
            <%if ( !( page.notDocumented ) ) {%>
            <div class="versionsMenu--document">
                <div class="ui sticky versionsMenu-sticky">
                    <%- partial("_partial/versions-menu", {containerDarkBackground:false})%>
                </div>
            </div>
            <%}%>
            <%if ( !(page.sidebar || page.notDocumented ) ) {%>
            <sidebar content="mainContent"></sidebar>
            <%}%>
        </div>
    </div>
</div>
