<div class="ui container grid">
    <div class="twelve wide computer only fourteen wide tablet only sixteen wide mobile only column">
        <div class="mainContent">

            <h1>Get Started</h1>

            <div class="ui huge message">
                <p>Register now to download Carbon LDP (beta) and start building secure,
                    data-centric applications for the next web today. There's no charge and it's royalty-free.</p>

                <!-- COMPUTER ONLY -->
                <div class="ui computer only grid bulletedList--getStarted">
                    <div class="row">
                        <div class="five wide column">
                            <div class="ui list">
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">RDF native, NoSQL graph database</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">RESTful HTTP Server/API</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">Runs in Docker</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">JavaScript SDK</div>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <div class="ui list">
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">W3C Linked Data and Semantic Web standards compliant</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">Visual Workbench</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">SPARQL query and update</div>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <div class="ui list">
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">Great with Angular 2 and other modern frameworks</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">Data backup</div>
                                </div>
                                <div class="item">
                                    <i class="checkmark icon"></i>
                                    <div class="content">Support for LDAP</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TABLET & MOBILE ONLY (REPEAT)-->
                <div class="ui tablet mobile only stackable two column padded grid bulletedList--getStarted">

                    <div class="eight wide column column--getStarted">
                        <div class="ui list">
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">RDF native, NoSQL graph database</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">RESTful HTTP Server/API</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">Runs in Docker</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">JavaScript SDK</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">Great with Angular 2 and other modern frameworks</div>
                            </div>
                        </div>
                    </div>

                    <div class="eight wide column column--getStarted">
                        <div class="ui list">
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">W3C Linked Data and Semantic Web standards compliant</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">Visual Workbench</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">SPARQL query and update</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">Data backup</div>
                            </div>
                            <div class="item">
                                <i class="checkmark icon"></i>
                                <div class="content">Support for LDAP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="mainContent-section">
                <h2>Register for Carbon LDP</h2>

                <form id="icpsignup" class="ui form registerForm--getStarted" action="/" method="POST">
                    <div data-name="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;">
                        <label class="checkbox">
                            <input type="checkbox" alt="" name="data[listGroups][]" value="786116" checked="checked">Carbon LDP Registered Users</label>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Name</label>
                            <input type="text"
                                   id = "icpsignupName"
                                   placeholder="First and Last Name"
                                   name="data[carbon-full-name]">
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input type="text"
                                   id = "icpsignupEmail"
                                   name="data[email]">
                        </div>
                    </div>

                    <div class="field">
                        <label>Organization / Affiliation</label>
                        <input type="text" name="data[company]" ngModel>
                    </div>

                    <div class="field">
                        <label>Project Description</label>
                        <textarea rows="2" placeholder="Please, tell us what you plan to create." name="data[carbon-project-desc]"></textarea>
                    </div>

                    <div class="field">
                        <label>How did you hear about us?</label>
                        <input type="text" name="data[carbon-how-disc]" ngModel>
                    </div>

                    <button id="icpsignupSubmitButton" class="ui californiaBG button" type="submit" disabled="true">Submit</button>

                    <div class="ui error message">
                        <ul>
                        </ul>
                    </div>
                </form>

            </section>
        </div>
    </div>
</div>