<div class="ui container grid">
	<div class="row">
		<div class="twelve wide computer twelve wide tablet sixteen wide mobile column">
			<div class="mainContent">

				<h1>Carbon LDP Software License Agreement</h1>

				<div class="ui message">
					<div class="content">
						<p>BY DOWNLOADING, INSTALLING, COPYING, ACCESSING, OR OTHERWISE USING THE SOFTWARE, LICENSEE AGREES TO THE TERMS OF THIS AGREEMENT.
							IF YOU ARE ACCEPTING THESE TERMS ON BEHALF OF LICENSEE, YOU REPRESENT AND WARRANT THAT YOU HAVE FULL AUTHORITY TO BIND LICENSEE TO THESE TERMS. IF YOU DO NOT AGREE TO
							THESE TERMS,
						</p>
						<ul>
							<li>DO NOT DOWNLOAD, INSTALL, COPY, ACCESS, OR USE THE SOFTWARE; AND</li>
							<li>DESTROY ALL COPIES OF THE SOFTWARE.</li>
						</ul>
					</div>
				</div>

				<section class="mainContent-section">
					<h2>1. Definitions</h2>
					<dl>
						<dt><dfn>&quot;Base22&quot;</dfn></dt>
						<dd>Base22 Technology Group, LLC. with offices at 5605 Sleepy Creek Lane, Fort Worth, Texas 76179 (&quot;Licensor&quot;).</dd>
						<dt><dfn>&quot;Software&quot;</dfn></dt>
						<dd>The following, including the original and all whole or partial copies: 1) machine-readable instructions and data, 2) components, files, and modules, 3)
							audio-visual content (such as images, text, recordings, or pictures), and 4) related licensed materials (such as keys and documentation).
						</dd>
						<dt><dfn>&quot;You&quot; (or &quot;Your&quot;)</dfn></dt>
						<dd>The individual or Legal Entity exercising permissions granted by this Agreement (&quot;Licensee&quot;).</dd>
					</dl>
				</section>
				<section class="mainContent-section">
					<h2>2. Scope of Agreement</h2>
					<p>This License Agreement pertains to the use of Carbon LDP (the Software), which may also be referred to as the &quot;Carbon Linked Data Platform&quot;, the &quot;Carbon
						Platform&quot;, or &quot;Carbon LDP Community Edition&quot;.</p>
					<p>This License Agreement does not apply to</p>
					<ol type="a">
						<li>Otherwise named editions of the Software that are provided by Base22 and intended to replace the Software with additional features;</li>
						<li>Other software components, open source code, and other products that are provided by Base22 for use with the Software and that have their own explicitly
							defined License Agreements.
						</li>
						<li>Professional Support (Paid Support) or Professional Consulting Services that are offered by Base22 or Base22 Business Partners for a fee.</li>
					</ol>
				</section>
				<section class="mainContent-section">
					<h2>3. License Grant</h2>
					<p>The Software is owned by Base22 and is copyrighted and licensed, not sold.</p>
					<p>Base22 hereby grants to You a perpetual, worldwide, non-exclusive, no-charge, and royalty-free license to use the Software provided that</p>
					<ol type="a">
						<li>You have lawfully obtained the Software and comply with the terms of this Agreement;</li>
						<li>You reproduce all copyright notices and other legends of ownership on each copy, or partial copy, of the Software;</li>
						<li>You ensure that anyone who uses the Software (accessed either locally or remotely) 1) does so only on Your behalf and 2) complies with the terms of
							this Agreement;
						</li>
						<li>You do not 1) use, copy, modify, or distribute the Software except as expressly permitted in this Agreement; 2) reverse assemble, reverse compile, otherwise
							translate, or reverse engineer the Software, except as expressly permitted by law without the possibility of contractual waiver; 3) use any of the Software's
							components, files, modules, audio-visual content, or related licensed materials separately from that Software; or 4) sublicense, rent, or lease the Software.
						</li>
					</ol>
					<p>This license applies to each copy of the Software that You download or make.</p>
					<section class="mainContent-subSection">
						<h3>3.1 Updates, Fixes, and Patches</h3>
						<p>When You receive an update, fix, or patch to the Software, You accept any additional or different terms that are applicable to such update, fix, or patch
							that are specified in its License Agreement. If no additional or different terms are provided, then the update, fix, or patch is subject solely to this Agreement.
							If the Software is replaced by an update, You agree to promptly discontinue use of the replaced Software.</p>
					</section>
					<section class="mainContent-subSection">
						<h3>3.2 Terms and Termination</h3>
						<p>This Agreement is effective until terminated.</p>
						<p>Base22 may terminate Your license if You fail to comply with the terms of this Agreement.</p>
						<p>If the license is terminated for any reason by either party, You agree to promptly discontinue use of and destroy all of Your copies of the Software. Any
							terms of this Agreement that by their nature extend beyond termination of this Agreement remain in effect until fulfilled, and apply to both parties' respective
							successors and assignees.</p>
					</section>
				</section>
				<section class="mainContent-section">
					<h2>4. Disclaimer of Warranty</h2>
					<p>Unless required by applicable law or agreed to in writing, Base22 provides the Software on an &quot;AS IS&quot; BASIS, WITHOUT WARRANTIES OR
						CONDITIONS OF ANY KIND, either express or implied, including, without limitation, any warranties or conditions of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A
						PARTICULAR PURPOSE. You are solely responsible for determining the appropriateness of using or redistributing the Software and assume any risks
						associated with Your exercise of permissions under this Agreement.</p>
				</section>
				<section class="mainContent-section">
					<h2>5. Limitation of Liability</h2>
					<p>UNDER NO CIRCUMSTANCES IS BASE22, ITS SOFTWARE DEVELOPERS OR SUPPLIERS LIABLE FOR ANY OF THE FOLLOWING, EVEN IF INFORMED OF THEIR POSSIBILITY:</p>
					<ol type="a">
						<li>LOSS OF, OR DAMAGE TO, DATA;</li>
						<li>SPECIAL, INCIDENTAL, EXEMPLARY, OR INDIRECT DAMAGES, OR FOR ANY ECONOMIC CONSEQUENTIAL DAMAGES; OR</li>
						<li>LOST PROFITS, BUSINESS, REVENUE, GOODWILL, OR ANTICIPATED SAVINGS.</li>
					</ol>
				</section>
				<section class="mainContent-section">
					<h2>6. Your Data and Databases</h2>
					<p>To assist You in isolating the cause of a problem with the Software, Base22 may request that You 1) allow Base22 to remotely access Your system or 2) send
						Your information or system data to Base22. However, Base22 is not obligated to provide such assistance unless You and Base22 enter a separate written agreement
						under which Base22 agrees to provide to You that type of support, which is beyond Base22's obligations in this Agreement. In any event, Base22 uses
						information about errors and problems to improve its products and services, and assist with its provision of related support offerings. For these purposes, Base22 may use
						Base22 entities and subcontractors (including in one or more countries other than the one in which You are located), and You authorize Base22 to do so.</p>
					<p>You remain responsible for 1) any data and the content of any database You make available to Base22, 2) the selection and implementation of procedures and
						controls regarding access, security, encryption, use, and transmission of data (including any personally-identifiable data), and 3) backup and recovery of any database and
						any stored data. You will not send or provide Base22 access to any personally-identifiable information, whether in data or any other form, and will be responsible for
						reasonable costs and other amounts that Base22 may incur relating to any such information mistakenly provided to Base22 or the loss or disclosure of such information by
						Base22, including those arising out of any third party claims.</p>
				</section>
				<section class="mainContent-section">
					<h2>7. Third Party Notices</h2>
					<p>The Software may include third party code that Base22, not the third party, licenses to You under this Agreement. Notices, if any, for the third party code ("Third
						Party Notices") are included for Your information only. These notices can be found in the Software's NOTICES file(s). Information on how to obtain source code for
						certain third party code can be found in the Third Party Notices. If in the Third Party Notices Base22 identifies third party code as "Modifiable Third Party Code," Base22
						authorizes You to 1) modify the Modifiable Third Party Code and 2) reverse engineer the Software modules that directly interface with the Modifiable Third Party Code
						provided that it is only for the purpose of debugging Your modifications to such third party code. Base22's service and support obligations, if any, apply only to the
						unmodified Software.</p>
				</section>
				<section class="mainContent-section">
					<h2>8. Benchmarking</h2>
					<p>You may disclose the results of any benchmark test of the Software or its subcomponents to any third party provided that You (A) publicly disclose the complete
						methodology used in the benchmark test (for example, hardware and software setup, installation procedure and configuration files), (B) perform Your benchmark testing
						running the Software in its Specified Operating Environment using the latest applicable updates, patches and fixes available for the Software from Base22 or third
						parties that provide Base22 products ("Third Parties"), and (C) follow any and all performance tuning and &quot;best practices&quot; guidance available in the Software's
						documentation and on Base22's support web site(s) for the Software. If You publish the results of any benchmark tests for the Software, then notwithstanding
						anything to the contrary in any agreement between You and Base22 or Third Parties, Base22 and Third Parties will have the right to publish the results of benchmark tests
						with respect to Your products provided Base22 or Third Parties complies with the requirements of (A), (B) and (C) above in its testing of Your products.</p>
					<p>The above benchmarking terms apply to the following Software programs or subcomponents: Carbon LDP (Platform)</p>
				</section>
				<section class="mainContent-section">
					<h2>9. General</h2>
					<ol type="a">
						<li>Nothing in this Agreement affects any statutory rights of consumers that cannot be waived or limited by contract.</li>
						<li>If any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions of this Agreement remain in full force and effect.</li>
						<li>You authorize Base22 Technology Group, LLC and its subsidiaries (and their successors and assigns, contractors and Base22 Business Partners) to store and use
							Your business contact information wherever they do business, in connection with Base22 products and services, or in furtherance of Base22's business relationship
							with You.
						</li>
						<li>Each party will allow the other reasonable opportunity to comply before it claims that the other has not met its obligations under this Agreement. The parties will
							attempt in good faith to resolve all disputes, disagreements, or claims between the parties relating to this Agreement.
						</li>
						<li>Unless otherwise required by applicable law without the possibility of contractual waiver or limitation: 1) neither party will bring a legal action, regardless of
							form, for any claim arising out of or related to this Agreement more than two years after the cause of action arose; and 2) upon the expiration of such time limit, any
							such claim and all respective rights related to the claim lapse.
						</li>
						<li>Neither You nor Base22 are responsible for failure to fulfill any obligations due to causes beyond its control.</li>
						<li>No right or cause of action for any third party is created by this Agreement, nor is Base22 responsible for any third party claims against You.</li>
						<li>In entering into this Agreement, neither party is relying on any representation not specified in this Agreement, including but not limited to any representation
							concerning: 1) the performance or function of the Software, 2) the experiences or recommendations of other parties; or 3) any results or savings that You may
							achieve.
						</li>
						<li>Base22 has signed agreements with certain organizations (called "Base22 Business Partners") to promote, market, and support the Software. Base22 Business Partners
							remain independent and separate from Base22. Base22 is not responsible for the actions or statements of Base22 Business Partners or obligations they have to You.
						</li>
						<li>The license and intellectual property indemnification terms of Your other agreements with Base22 (such as agreements for services consulting or custom software
							development) do not apply to the Software license granted under this Agreement.
						</li>
					</ol>
				</section>
				<section class="mainContent-section">
					<h2>10. Geographic Scope and Governing Law</h2>
					<section class="mainContent-subSection">
						<h3>8.1 Governing Law</h3>
						<p>Both parties agree to the application of the laws of the state Texas in the United States to govern, interpret, and enforce all of Licensee's and Base22's respective
							rights, duties, and obligations arising from, or relating in any manner to, the subject matter of this Agreement, without regard to conflict of law principles.</p>
						<p>The United Nations Convention on Contracts for the International Sale of Goods does not apply.</p>
					</section>
					<section class="mainContent-subSection">
						<h3>8.2 Jurisdiction</h3>
						<p>All rights, duties, and obligations are subject to the courts of Texas in the United States.</p>
					</section>
				</section>
			</div>
		</div>
		<div class="four wide computer only four wide tablet only column">
			<div class="ui sticky sticky-wrapper">
				<sidebar content="mainContent"></sidebar>
			</div>
		</div>
	</div>
</div>