<img class="cover" src="/assets/images/blog-banner-v3.jpg" alt="Carbon LDP Blog, innovation for the Next Web"/>

<div class="ui container grid">
	<div class="row">
		<div class="twelve wide computer only twelve wide tablet only sixteen wide mobile only column">
			<div class="mainContent">
				<%- partial("_partial/breadcrumb", {longBreadcrumb: false} )%>
				<%- partial( "_partial/post/post", { post:page, postList:false })%>
			</div>
		</div>
		<div class=" centered aligned four wide computer tablet only column">
			<%- partial("_partial/blog-sidebar")%>
		</div>
	</div>
</div>