<td>
	<literal-value [mode]="mode"
	               [type]="type"
	               [value]="value"
	               (onIsValid)="onIsValidValue($event)"></literal-value>
</td>
<td>
	<literal-type [mode]="mode"
	              [type]="type"
	              (onIsValid)="onIsValidType($event)"
	              (onTypeSelected)="changeType($event)"></literal-type>
</td>
<td *ngIf="canDisplayLanguage">
	<literal-language *ngIf="isStringType"
	                  [mode]="mode"
	                  [language]="language"
	                  (onIsValid)="onIsValidLanguage($event)"
	                  (onLanguageSelected)="changeLanguage($event)"></literal-language>
	<p *ngIf="!isStringType"> - </p>
</td>
<td>
	<div class="ui mini icon inverted edit value buttons" *ngIf="mode===modes.READ">
		<button #editButton
		        class="ui basic edit button"
		        *ngIf="mode===modes.READ"
		        [ngClass]="{hidden:editButton.classList.contains('active')}"
		        (click)="displayEditor($event, prop, j)">
			<i class="pencil icon"></i>
		</button>
	</div>
	<div class="ui mini icon inverted confirm buttons" *ngIf="mode===modes.EDIT">
		<button #cancelButton
		        class="ui basic button" title="Cancel"
		        (click)="cancelEdit()">
			<i class="remove red icon"></i>
		</button>
		<button #confirmButton
		        class="ui basic button" title="Save"
		        [disabled]="!isValidValue || !isValidType"
		        (click)="save()">
			<i class="checkmark icon"></i>
		</button>
	</div>
</td>