newsletter-form {

	.ui.action.input:not([class*="left action"])>.button:last-child{
		margin-left: 4px;
		border-radius: 0;
	}

	.ui.action.input>.button{
		background-color: #F89828;
	}

	.ui.input input{
		padding: .4em .6em;
		border: 1px solid white;
		border-radius: 0;
	}

	.ui.secondary.button:hover{
		background-color: white;
		color: #f89828;
		-webkit-transition-duration: .6s;
		transition-duration: .6s;
	}

	.ui.secondary.button:active:hover{
		background-color: white;
		color: #f89828;
		-webkit-transition-duration: .6s;
		transition-duration: .6s;
	}

	.ui.seconday.button:focus:active{
		background-color: #f89828;
		color: white;
	}

}