<div class="ui orange inverted vertical center aligned segment">
	<h2>Sign up to receive news and get notified when we launch!</h2>

	<form ngNoForm method="post" name="icpsignup" id="icpsignup" accept-charset="UTF-8">

		<div class="ui action input">
			<input #email id=email name="fields_email" class="email" type="text" placeholder="your@email.com">
			<button name="send" type="button" class="ui inverted secondary button submit" (click)="onSubmit(email)">SEND</button>
		</div>

		<input type="hidden" name="redirect" value={{redirectPage}}>
		<input type="hidden" name="errorredirect" value={{errorPage}}>
		<!--<input type="hidden" name="redirect" value="https://carbonldp.com/signup-thanks.html">-->
		<!--<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">-->
		<input type="hidden" name="listid" value="777887">
		<input type="hidden" name="specialid:777887" value="MNSO">
		<input type="hidden" name="clientid" value="581321">
		<input type="hidden" name="formid" value="5139">
		<input type="hidden" name="reallistid" value="1">
		<input type="hidden" name="doubleopt" value="1">
	</form>
	<p>Promise, we don't spam :)</p>

	<div class="ui negative attached message segment" *ngIf="show">
		<ul class="list">
			<li *ngIf="emailRequired">email is required.</li>
			<li *ngIf="emailInvalid">Enter a valid email address.</li>
		</ul>
	</div>
</div>