<div class="blog-sidebar">
	<div>
		<h2 class="blog-sidebarTitle">Register for beta and community support</h2>
		<p>Our license grants you perpetual, worldwide, non-exclusive, no-charge, and royalty-free use!</p>
		<div class="blog-sidebarButton">
			<a class="ui orange button" href="/get-started">Get Started</a>
		</div>
	</div>
	<div class="ui divider blog-sidebarDivider"></div>
	<div>
		<h2 class="blog-sidebarTitle">Quick Start Guide</h2>
		<p>Learn how to download, configure, and run Carbon LDP and the Workbench.</p>
		<div class="blog-sidebarButton">
			<a class="ui blue button" href="/documentation/quick-start-guide">Quick Start</a>
		</div>
	</div>
</div>