<div class="footer bigStoneBG">
        <div class="ui middle aligned padded grid computer tablet only">

            <div class="four wide center aligned column">
                <a href="http://base22.com/"><img class="footer-base22Logo" src="/assets/images/base22-logo-white.png"/></a>
            </div>
            <div class="eight wide center aligned stretched column">
                <p class="footer-copyrightText">&copy; <%- ( new Date()).getFullYear() %> Base22 Technology Group, LLC. All Rights Reserved.</p>
            </div>
            <div class="four wide left aligned column">
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="Twitter" href="https://twitter.com/CarbonLDP"><i class="circular twitter icon footer-socialIcon"></i></a>
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="YouTube" href="https://www.youtube.com/channel/UCuNWXjT19Gnpo7I502PTZ_Q"><i class="circular youtube icon footer-socialIcon"></i></a>
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="LinkedIn" href="https://www.linkedin.com/company/carbon-ldp"><i class="circular linkedin icon footer-socialIcon"></i></a>
            </div>
        </div>
        <div class="ui centered padded grid mobile only">
            <div class="left aligned eight wide column">
                <a href="http://base22.com/"><img class="footer-base22Logo" src="/assets/images/base22-logo-white.png"/></a>
            </div>
            <div class="right aligned eight wide column">
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="Twitter" href="https://twitter.com/CarbonLDP"><i class="circular twitter icon footer-socialIcon"></i></a>
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="YouTube" href="https://www.youtube.com/channel/UCuNWXjT19Gnpo7I502PTZ_Q"><i class="circular youtube icon footer-socialIcon"></i></a>
                <a angulartics2On="click" angularticsEvent="OutboundClick" angularticsCategory="LinkedIn" href="https://www.linkedin.com/company/carbon-ldp"><i class="circular linkedin icon footer-socialIcon"></i></a>
            </div>
            <div class="center aligned twelve wide column">
                <p class="footer-copyrightText">&copy; <%- ( new Date()).getFullYear() %> Base22 Technology Group, LLC. All&nbsp;Rights&nbsp;Reserved.</p>
            </div>
    </div>
</div>
