<!--<div class="ui sticky segment">-->
    <!--<h2 class="ui header">-->
        <!--Content-->
    <!--</h2>-->
    <!--<div class="ui vertical following fluid accordion text menu">-->
        <%- sidebar_content( page.content, layout)%>
    <!--</div>-->
<!--</div>-->