.post {
  margin: 2rem 1rem; }

.post-content {
  margin: 1rem 0;
  padding: 20px 0; }

.post-info {
  color: gray;
  font-size: 1rem; }

.post-footer {
  display: flex;
  align-items: center;
  margin-top: 2rem; }

.post-readMoreButton {
  align-self: flex-start; }

.post-socialMediaMenu {
  margin-left: auto; }

.ui.divider.post-divider {
  clear: both; }

.ui.divider.blog-sidebarDivider {
  margin: 2.2rem 0; }

.blog-sidebar {
  margin: 10em 1em 6em 0; }

.blog-sidebarButton {
  text-align: center; }

.blog-sidebarTitle {
  font-weight: normal; }
