.categoriesMenuContainer {
  max-width: 100%;
  min-height: 77.2vh;
  padding: 13vh 0 0 0;
  border-bottom: 25px solid #0192cf; }

h1.categoriesMenu-title {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.7px; }

.categoriesMenu-categoryTitle {
  font-size: 1.35rem;
  color: white;
  padding-top: 2rem; }

.ui.grid .categoriesMenu {
  padding: 4em 3em 2em 3em; }

.categoriesMenu-button {
  padding: 1.2rem;
  margin: 25px 0; }

.categoriesMenu-button:hover {
  box-shadow: 0 0 15px 0 #0192cf;
  border-radius: .5em; }

.ui.image.categoriesMenu-icon {
  height: 200px;
  width: 200px;
  background: white;
  display: flex;
  align-items: center; }
  .ui.image.categoriesMenu-icon svg {
    margin: 0 auto;
    display: block;
    height: auto;
    width: 150px; }

.ui.image.category-icon {
  height: auto;
  width: 50px;
  margin: 0; }

.category-titleContainer {
  height: auto;
  display: flex;
  align-items: center; }

h2.category-title {
  margin: 0;
  color: #363f48;
  height: auto; }

.category-unbulletedItem {
  padding-left: 1.22rem; }

.documentationVersionList.hidden {
  display: none; }

@media (max-width: 1200px) {
  .ui.image.categoriesMenu-icon {
    height: 150px;
    width: 150px;
    background: white;
    display: flex;
    align-items: center; }
    .ui.image.categoriesMenu-icon svg {
      margin: 0 auto;
      display: block;
      height: auto;
      width: 120px; } }

@media (max-width: 992px) {
  .categoriesMenuContainer {
    height: 500px;
    padding: 9vh 0 0 0;
    min-height: 52vh; }
  .ui.grid .categoriesMenu {
    padding: 2.5em 3em 0 3em; }
  .ui.image.categoriesMenu-icon {
    height: 120px;
    width: 120px;
    background: white;
    display: flex;
    align-items: center; }
    .ui.image.categoriesMenu-icon svg {
      margin: 0 auto;
      display: block;
      height: auto;
      width: 100px; }
  h1.categoriesMenu-title {
    font-size: 2.2rem; } }

@media (max-width: 767px) {
  .categoriesMenuContainer {
    height: auto;
    padding: 6vh; }
  .categoriesMenu-title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.7px; }
  .categoriesMenu-categoryTitle {
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem; }
  .ui.image.categoriesMenu-icon {
    height: 100px;
    width: 100px;
    background: white;
    display: flex;
    align-items: center; }
    .ui.image.categoriesMenu-icon svg {
      margin: 0 auto;
      display: block;
      height: auto;
      width: 70px; }
  .ui.stackable.grid .row.categoriesMenu {
    padding: 1em 3em; } }

ol, ul {
  line-height: 1.7rem; }
