/* Colors for Background, all Backgrounds come with color text */
.bigStoneBG {
  background-color: #363F48;
  color: #ffffff; }

.bigStone1BG {
  background-color: #6C7680;
  color: #ffffff; }

.bigStone2BG {
  background-color: #4F5A64;
  color: #ffffff; }

.bigStone3BG {
  background-color: #1E272F;
  color: #ffffff; }

.bigStone4BG {
  background-color: #13202C;
  color: #ffffff; }

.frenchGrayBG {
  background-color: #BABCBE;
  color: #363F48; }

.frenchGray1BG {
  background-color: #FFFFFF;
  color: #363F48; }

.frenchGray2BG {
  background-color: #EFEFEF;
  color: #363F48; }

.frenchGray3BG {
  background-color: #90959A;
  color: #363F48; }

.frenchGray4BG {
  background-color: #707A83;
  color: #363F48; }

.vividVioletBG {
  background-color: #7F4098;
  color: #ffffff; }

.vividViolet1BG {
  background-color: #C297D3;
  color: #ffffff; }

.vividViolet2BG {
  background-color: #9C63B2;
  color: #ffffff; }

.vividViolet3BG {
  background-color: #6B2886;
  color: #ffffff; }

.vividViolet4BG {
  background-color: #53156C;
  color: #ffffff; }

.californiaBG {
  background-color: #F89728;
  color: #ffffff; }

.california1BG {
  background-color: #FFC17A;
  color: #ffffff; }

.california2BG {
  background-color: #FFAE51;
  color: #ffffff; }

.california3BG {
  background-color: #D37507;
  color: #ffffff; }

.california4BG {
  background-color: #A65900;
  color: #ffffff; }

.californiaText {
  color: #F89728; }

.brightPinkBG {
  background-color: #E20178;
  color: #ffffff; }

.brightPink1BG {
  background-color: #E95AA5;
  color: #ffffff; }

.brightPink2BG {
  background-color: #E52F8F;
  color: #ffffff; }

.brightPink3BG {
  background-color: #C8006A;
  color: #ffffff; }

.brightPink4BG {
  background-color: #9B0052;
  color: #ffffff; }

.dullLimeBG {
  background-color: #53B948;
  color: #ffffff; }

.dullLime1BG {
  background-color: #A7E6A1;
  color: #ffffff; }

.dullLime2BG {
  background-color: #7AD471;
  color: #ffffff; }

.dullLime3BG {
  background-color: #35A32A;
  color: #ffffff; }

.dullLime4BG {
  background-color: #1E8213;
  color: #ffffff; }

.electricBlueBG {
  background-color: #0091CF;
  color: #ffffff; }

.electricBlue1BG {
  background-color: #19B7FB;
  color: #ffffff; }

.electricBlue2BG {
  background-color: #05B3FF;
  color: #ffffff; }

.electricBlue3BG {
  background-color: #006997;
  color: #ffffff; }

.electricBlue4BG {
  background-color: #005376;
  color: #ffffff; }

.electricBlueText {
  color: #0091CF; }
