:host {
	width: 100%;
	height: 100%;
	
	// Safari needs it to correctly display the footer
	min-height: 100%;

	display: flex;
	flex-direction: column;

	// Big Stone
	.big-stone {
		background-color: #363F48;
		color: #ffffff;
	}

	.big-stone1 {
		background-color: #6C7680;
		color: #ffffff;
	}

	.big-stone2 {
		background-color: #4F5A64;
		color: #ffffff;
	}

	.big-stone3 {
		background-color: #1E272F;
		color: #ffffff;
	}

	.big-stone4 {
		background-color: #13202C;
		color: #ffffff;
	}

	// French Gray
	.french-gray {
		background-color: #BABCBE;
		color: #363F48;
	}

	.french-gray1 {
		background-color: #FFFFFF;
		color: #363F48;
	}

	.french-gray2 {
		background-color: #EFEFEF;
		color: #363F48;
	}

	.french-gray3 {
		background-color: #90959A;
		color: #363F48;
	}

	.french-gray4 {
		background-color: #707A83;
		color: #363F48;
	}

	// Vivid Violet
	.vivid-violet {
		background-color: #7F4098;
		color: #ffffff;
	}

	.vivid-violet1 {
		background-color: #C297D3;
		color: #ffffff;
	}

	.vivid-violet2 {
		background-color: #9C63B2;
		color: #ffffff;
	}

	.vivid-violet3 {
		background-color: #6B2886;
		color: #ffffff;
	}

	.vivid-violet4 {
		background-color: #53156C;
		color: #ffffff;
	}

	// California
	.california {
		background-color: #F89728;
		color: #ffffff;
	}

	.california1 {
		background-color: #FFC17A;
		color: #ffffff;
	}

	.california2 {
		background-color: #FFAE51;
		color: #ffffff;
	}

	.california3 {
		background-color: #D37507;
		color: #ffffff;
	}

	.california4 {
		background-color: #A65900;
		color: #ffffff;
	}

	// Bright Pink
	.bright-pink {
		background-color: #E20178;
		color: #ffffff;
	}

	.bright-pink1 {
		background-color: #E95AA5;
		color: #ffffff;
	}

	.bright-pink2 {
		background-color: #E52F8F;
		color: #ffffff;
	}

	.bright-pink3 {
		background-color: #C8006A;
		color: #ffffff;
	}

	.bright-pink4 {
		background-color: #9B0052;
		color: #ffffff;
	}

	// Dull lime
	.dull-lime {
		background-color: #53B948;
		color: #ffffff;
	}

	.dull-lime2 {
		background-color: #A7E6A1;
		color: #ffffff;
	}

	.dull-lime2 {
		background-color: #7AD471;
		color: #ffffff;
	}

	.dull-lime3 {
		background-color: #35A32A;
		color: #ffffff;
	}

	.dull-lime4 {
		background-color: #1E8213;
		color: #ffffff;
	}

	// Electric Blue
	.electric-blue {
		background-color: #0091CF;
		color: #ffffff;
	}

	.electric-blue1 {
		background-color: #19B7FB;
		color: #ffffff;
	}

	.electric-blue2 {
		background-color: #05B3FF;
		color: #ffffff;
	}

	.electric-blue3 {
		background-color: #006997;
		color: #ffffff;
	}

	.electric-blue4 {
		background-color: #005376;
		color: #ffffff;
	}
}
