<table class="ui selectable sortable celled small compact table">
	<thead>
		<tr>
			<th *ngFor="#header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
			</th>
			<th class="center aligned">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#app of apps; #i=index;" (click)="navigateTo([ '/AppDev/MyApps/App', {slug: app.slug}, 'AppDashboard'])">
			<td>
				<h3 class="ui image header">
					<div class="content">
						{{app.appContext.name}}
						<div class="sub header">
							{{app.slug}}
						</div>
					</div>
				</h3>
			</td>
			<td>
				{{app.appContext.created | date:"MMMM/dd/yyyy H:mm hrs"}}
			</td>
			<td>
				{{app.appContext.modified | date:"MMMM/dd/yyyy H:mm hrs"}}
			</td>
			<td class="center aligned">
				<app-action-buttons [app]="app" (deleteApp)="onDeleteApp(app)"></app-action-buttons>
			</td>
		</tr>
	</tbody>
</table>