<table class="ui selectable sortable celled compact table">
	<thead>
		<tr>
			<th *ngFor="#header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
			</th>
			<th class="center aligned">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#context of apps; #i=index;" (click)="navigateTo([ '/AppDev/MyApps/App', {slug: context.slug}, 'AppDashboard'])">
			<td>
				<h3 class="ui image header">
					<div class="content">
						{{context.appContext.name}}
						<div class="sub header">
							{{context.slug}}
						</div>
					</div>
				</h3>
			</td>
			<td>
				{{context.appContext.created | date:"MMMM/dd/yyyy H:mm hrs"}}
			</td>
			<td>
				{{context.appContext.modified | date:"MMMM/dd/yyyy H:mm hrs"}}
			</td>
			<td class="center aligned">
				<div class="ui small basic icon buttons">
					<a class="ui icon button"
					   title="App's Dashboard"
					   (click)="navigateTo([ '/AppDev/MyApps/App', {slug: context.slug}, 'AppDashboard'])">
						<i class="dashboard icon"></i>
					</a>
					<a class="ui icon button"
					   title="SPARQL Editor"
					   (click)="navigateTo([ '/AppDev/MyApps/App', {slug: context.slug}, 'SPARQLEditor'])">
						<i class="terminal icon"></i>
					</a>
					<button class="ui icon button"
					        title="Edit App"
					        disabled="">
						<i class="write icon"></i>
					</button>
					<button class="ui icon button"
					        title="Delete App"
					        (click)="onDeleteApp($event, context)">
						<i class="trash outline icon"></i>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>