---
layout: documentation/document
title: Containers
description: Carbon LDP is a Linked Data Platform for building web apps that manage and link data within your enterprise and across the World Wide Web.
date: 2017-02-08 11:24:33
notDocumented: true
version: v1.0.x
---
<div class="ui message">
	<div class="content">
		<p class="larger">
			INSERT TEXT
		</p>
	</div>
</div>


<section class="mainContent-section">
	<h2 class="ui header">Creating a child of a Container</h2>
</section>


<section  class="mainContent-section">
	<h2 class="ui header">Retrieving a Container</h2>

	<section class="mainContent-subSection"><h3>Retrieving only the Container config properties</h3></section>

	<section class="mainContent-subSection">

		<h3>Listing Container members/children</h3>
		<section class="mainContent-subSection"><h4>Filtering/Ordering</h4></section>

	</section>

	<section class="mainContent-subSection"><h3>Retrieving Container members/children</h3></section>

</section>


<section class="mainContent-section">

	<h2>Updating a Container</h2>
	<section class="mainContent-subSection"><h3>Adding members to a Container</h3></section>

</section>


<section class="mainContent-section">

	<h2>Deleting a Container</h2>
	<section class="mainContent-subSection"><h3>Removing members from a Container</h3></section>
	<section class="mainContent-subSection"><h3>Deleting the Container’s children</h3></section>

</section>
