footer {
	.base22-logo img {
		width: 130px;
	}

	i.circular.icon {
		color: rgb(100, 115, 133) !important;
		box-shadow: 0 0 0 .15em rgba(0, 0, 0, .1) inset;
	}

	i.circular.icon:hover {
		color: white !important;
		box-shadow: 0 0 0 .1em white !important;
	}

	a {
		line-height: 1.5em !important;
	}
}
