home {

	> .ui.segment:nth-child(1) {
		min-height: 95vh;

		> .text {
			margin-top: 16vh;
		}
	}

	.feature-image {

		h1 {
			color: #e1dfdf;
		}
		.computer.tablet.only {
			h1 {
				font-size: 3rem
			}
			.title {
				margin-top: 7vh;
			}
		}
		.mobile.only {
			.title {
				margin-top: 10vh;
			}
		}
	}

	#carbon-logo-computer {
		margin-top: 50px;
	}
	#carbon-logo-mobile {
		margin-top: 40px;
	}

	.ui.menu > .right.item > .button {
		margin-left: 0.5em;
	}

	.splash-bg {
		background-image: url("<%- url.base %>assets/images/night-sky.jpg") !important;
		background-repeat: no-repeat !important;
		position: relative !important;
		background-position: center center !important;
		width: 100% !important;
		background-size: cover !important;
		height: 807px;
	}

	.ui.stripe.segment {
		padding-top: 3em;
		padding-bottom: 3em;

		h2 {
			font-size: 1.3em;
		}
		p {
			font-size: .95em;
			text-align: justify;
			padding-top: 20px;
			/* padding-bottom: 20px; */
		}
	}

	#brief {

		.computer.only > .column {
			padding-top: 3rem;
			max-width: 600px;
			letter-spacing: 0.3px;
		}
		.tablet.only > .column {
			padding-top: 3rem;
			max-width: 500px;
			letter-spacing: 0.3px;
		}
		.mobile.only > .column {
			padding-top: 3rem;
			max-width: 380px;
			letter-spacing: 0.3px;
		}
	}

	#articles {
		padding-bottom: 20px;

		> .ui > .row > .column {
			padding-left: 50px;
			padding-right: 50px;
		}

		.computer.mobile.only {
			padding-bottom: 45px;
		}

		.tablet.only {
			p.left {
				padding-top: 0;
			}
			p.bottom {
				padding-top: 0;
				padding-bottom: 20px;
			}
		}

	}

	#features {
		padding-top: 55px;
		padding-bottom: 75px;

		.main-title {
			font-size: 2.2rem;
			letter-spacing: 0.7px;
			/*font-size:2.4rem;*/
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.feature {
			.title {
				margin-top: 40px;
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
		}

		p {
			font-size: .85em;
			/* text-align: justify; */
			padding-left: 16px;
			padding-right: 16px;
		}

		.ui.circular.image {
			margin-bottom: 20px;
			margin-top: 10px;
		}
	}

	.ui.accordion img {
		height: 30px;
		width: 150px;
		display: inline-block;
		float: right;
		vertical-align: middle;
	}

	.ui.accordion .title:not(.ui) {
		font-size: .9em;
	}

	.ui.grid > .orange.column, .ui.grid > .orange.row, .ui.grid > .row > .orange.column {
		background-color: #f89828 !important;
		color: #FFF;
	}

	.ui.grid > .blue.column, .ui.grid > .blue.row, .ui.grid > .row > .blue.column {
		background-color: #0192cf !important;
		color: #FFF;
		min-height: 340px;
	}

	#signup {
		.sign-up.row {
			min-height: 240px;
		}
		.sign-up.computer.only {
			.left.column {
				.sign-up-teaser {
					float: right;
					max-width: 525px !important;
					p {
						margin-top: 2.5rem;
						padding-left: 70px;
						padding-right: 100px;
						font-size: 1.3em;
					}
				}

			}
			.right.column {
				.signup-form.container{
					float:left;max-width:525px!important;
				}
			}
		}
		.sign-up.tablet.only {
			.left.column {
				.sign-up-teaser {
					float: right;
					max-width: 350px !important;
					p {
						margin-top: 1.5rem;
						padding-left: 40px;
						padding-right: 20px;
						font-size: 1.4em;
					}
				}

			}
			.right.column {
				.signup-form.container{
					float:left;max-width:350px!important;
				}
			}
		}
		.sign-up.mobile.only {
			.left.column {
				.sign-up-teaser {
					p {
						padding-left: 40px;
						padding-right: 40px;
						font-size: 1.5em;
					}
				}

			}
			.right.column {
				.signup-form.container{

				}
			}
		}

	}

	.ui.white.button, .ui.white.buttons .button {
		background-color: #fff;
		color: #0192cf;
		text-shadow: none;
		background-image: none;
		margin-top: 35px;
	}

}