home {

	> .ui.segment:nth-child(1) {
		min-height: 95vh;

		> .text {
			margin-top: 16vh;
		}
	}

	#carbon-logo-computer, #carbon-logo-mobile {
		margin-top: 50px;
	}

	.ui.menu > .right.item > .button {
		margin-left: 0.5em;
	}

	.splash-bg {
		background-image: url("<%- url.base %>assets/images/night-sky.jpg") !important;
		background-repeat: no-repeat !important;
		position: relative !important;
		background-position: center center !important;
		width: 100% !important;
		background-size: cover !important;
		height: 807px;
	}

	.ui.stripe.segment {
		padding-top: 3em;
		padding-bottom: 3em;

		h2 {
			font-size: 1.3em;
		}
		p {
			font-size: .95em;
			text-align: justify;
			padding-top: 20px;
			/* padding-bottom: 20px; */
		}
	}

	#articles {
		padding-bottom: 20px;


		> .ui > .row > .column {
			padding-left: 50px;
			padding-right: 50px;
		}

	}

	#features {
		padding-top: 55px;
		padding-bottom: 75px;

		h2 {
			/*font-size:2.4rem;*/
			margin-top:50px;
			margin-bottom: 50px;
		}

		h3 {
			margin-top:40px;
			font-size: 1.5rem;
			margin-bottom: 30px;
		}

		p {
			font-size: .85em;
			/* text-align: justify; */
			padding-left:16px;
			padding-right:16px;
		}

		.ui.circular.image {
			margin-bottom: 20px;
			margin-top:10px;
		}
	}

	.ui.accordion img {
		height: 30px;
		width: 150px;
		display: inline-block;
		float: right;
		vertical-align: middle;
	}

	.ui.accordion .title:not(.ui) {
		font-size: .9em;
	}

	.ui.grid>.orange.column, .ui.grid>.orange.row, .ui.grid>.row>.orange.column {
		background-color: #f89828!important;
		color: #FFF;
	}

	.ui.grid > .blue.column, .ui.grid > .blue.row, .ui.grid > .row > .blue.column {
		background-color: #0192cf !important;
		color: #FFF;
		min-height: 340px;
	}

	#sign-up-row {
		min-height: 240px;
	}

	.ui.white.button, .ui.white.buttons .button {
		background-color: #fff;
		color: #0192cf;
		text-shadow: none;
		background-image: none;
		margin-top:35px;
	}


}