home {
	> .ui.segment:nth-child(1) {
		min-height: 95vh;

		> .text {
			margin-top: 16vh;
		}
	}

	a {
		line-height: 70px;
	}

	.ui.centered.image {
		margin-top: 30px;
	}

	.ui.menu > .right.item > .button {
		margin-left: 0.5em;
	}

	.splash-bg {
		background-image: url("<%- url.base %>assets/images/cloud-bg.jpg") !important;
		background-repeat: no-repeat !important;
		position: relative !important;
		background-position: center center !important;
		width: 100% !important;
		background-size: cover !important;
		min-height: 807px !important;
		max-height: 960px;
	}

	.ui.stripe.segment {
		padding: 6em 0;

		h2 {
			font-size: 1.3em;
		}
		p {
			font-size: .95em;
			text-align: justify;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.text.container > a:hover {
		font-weight: bold;
		text-shadow: white;
	}

	#standards {
		padding-top: 40px;
		h2 {
			font-size: 1.1em;
			padding: 0;
		}
		p {
			font-size: .85em;
			text-align: justify;
			padding: 10px;
		}
	}

	#articles {
		padding-bottom: 20px;
		> .ui > .row > .column {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	.ui.accordion img {
		height: 30px;
		width: 150px;
		display: inline-block;
		float: right;
		vertical-align: middle;
	}

	.ui.accordion .title:not(.ui) {
		font-size: .9em;
	}

}