<div class="formContainer">
	<form [ngFormModel]="loginForm" class="ui form attached segment large loginForm" role="form" (submit)="onSubmit(loginForm.value, $event)">
		<div class="field" [ngClass]="{ error: (email.touched && !email.valid) }">
			<div class="ui left icon input">
				<i class="user icon"></i>
				<input type="text"
				       name="email"
				       placeholder="E-mail address"
				       ngControl="email">
			</div>
		</div>
		<div class="field" [ngClass]="{ error: (password.touched && !password.valid) }">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				<input type="password"
				       name="password"
				       placeholder="password"
				       ngControl="password">
			</div>
		</div>
		<button type="submit"
		        [ngClass]="{ loading: submitting }"
		        class="ui fluid large california submit button"
		        [disabled]="!loginForm.valid"
		        (click)="onSubmit(loginForm.value, $event)">
			Login
		</button>
	</form>
	<div class="ui negative attached message segment" *ngIf="email.touched && !email.valid">
		<ul class="list">
			<li *ngIf="email.hasError('required')">email is required.</li>
			<li *ngIf="!email.hasError('required') && email.hasError('invalidEmailAddress')">Enter a valid email address.</li>
		</ul>
	</div>
	<div class="ui negative attached message segment" *ngIf="password.touched && !password.valid">
		<ul class="list">
			<li *ngIf="password.hasError('required')">password is required.</li>
			<li *ngIf="!password.hasError('required') && password.hasError('invalidPassword')">password is invalid.</li>
		</ul>
	</div>
	<div class="ui negative bottom attached message segment" *ngIf="!!errorMessage">
		<ul class="list">
			<li>{{errorMessage}}</li>
		</ul>
	</div>
</div>