<form class="ui form" (ngSubmit)="onSubmit(registerForm.value)" #registerForm="ngForm" method="POST" id="icpsignup">

	<div dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;">
		<label class="checkbox">
			<input type="checkbox" alt="" name="data[listGroups][]" value="786116" checked="checked">Carbon LDP Registered Users</label>
	</div>
	<div class="two fields">
		<div class="required field">
			<label>Name</label>
			<input type="text"
			       placeholder="First and Last Name"
			       name="data[carbon-full-name]" ngModel required>
		</div>
		<div class="required field">
			<label>Email</label>
			<input type="text" name="data[email]" ngModel required>
		</div>
	</div>
	<div class="field">
		<label>Organization / Affiliation</label>
		<input type="text" name="data[company]" ngModel>
	</div>
	<div class="field">
		<label>Project Description</label>
		<textarea rows="2"
		          placeholder="Please, tell us what you plan to create."
		          name="data[carbon-project-desc]" ngModel></textarea>
	</div>
	<div class="field">
		<label>How did you hear about us?</label>
		<input type="text" name="data[carbon-how-disc]" ngModel>
	</div>
	<button class="ui primary button" type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>