.ui.vertical.segment {
	background: #363F48;
	border-bottom: 25px solid #0192cf;
	margin-top: 6em;

}

.ui.computer.tablet.only.grid {
	margin: 2.5em 8em 3em 8em;
}

.ui.mobile.only.grid {
	margin: 0em 2em 2em 2em;
}

.computer.tablet.only {
	.main-title {
		font-size: 2.2rem;
		letter-spacing: 0.7px;
		color: white;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.feature {
		padding: 10px;
		.title {
			font-size: 1.35rem;
			color: white;
			margin-bottom: 20px;
		}
	}

	.ui.circular.image {
		margin-bottom: 20px;
		margin-top: 30px;
		img {
			height: 150px;
			width: auto;
		}
	}

	.center.aligned.column.feature:hover {
		box-shadow: 0 0 15px 0 #0192cf;
		border-radius: .5em;
	}

	a {
		border-radius: 0;
	}
}

.mobile.only {
	.main-title {
		font-size: 2rem;
		letter-spacing: 0.7px;
		color: white;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.feature > .title {
		font-size: 1rem;
		color: white;
		margin-bottom: 10px;

	}

	.ui.circular.image {
		margin-bottom: 10px;
		margin-top: 20px;
		img {
			display: inline;
			border: 0;
			margin: 0;
			height: 60px;
			width: 60px;
		}
	}

	.center.aligned.column.feature:hover {
		box-shadow: 0 0 15px 0 #0192cf;
		border-radius: .5em;
	}

	a {
		border-radius: 0;
	}
}

.ui.grid.description {
	margin-top: 2em;
	margin-bottom: 6em;
	.ui.container {
		height: auto;
		margin-top: 6em;
		.header {
			height: auto;
			display: flex;
			align-items: center;
			h2 {
				margin: 0;
				color: #363f48;
				height: auto;
			}
			img {
				width: 50px;
				height: auto;
				margin: 0;
			}
		}
		.description {
			height: auto;
			display: flex;
			align-items: center;
			p {
				height: auto;
			}
		}

	}

	.ui.list {
		margin-top: 0;
		.item {
			padding-top: 1.3em;
			font-size: 16px;
			.header {
				font-weight: normal;
			}
			span {
				font-weight: bold;
				color: #0192cf;
				/*border-bottom: 1px dotted #f89828;*/
			}
			span:hover {
				cursor: pointer;
				color: #19b7fb;
				font-weight: bold;
				border-bottom: none;
			}
			.summary {
				padding-top: 0.3em;
			}
		}
	}

	.more-item {
		.header {
			margin-left: 1.25rem;
		}
		span {
			font-weight: bold;
			color: #0192cf;
			/*border-bottom: 1px dotted #f89828;*/
		}
		span:hover {
			cursor: pointer;
			color: #19b7fb;
			font-weight: bold;
			border-bottom: none;
		}

	}
}


