documents-list {

	#main-doc {
		padding-top: 55px;
		padding-bottom: 75px;

		.main-title {
			font-size: 2.2rem;
			letter-spacing: 0.7px;
			/*font-size:2.4rem;*/
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.feature {
			.title {
				margin-top: 40px;
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
		}

		.ui.circular.image {
			margin-bottom: 20px;
			margin-top: 10px;
		}
	}

	/*.ui.menu:first-child {
		margin-top: 14px;
	}

	.ui.menu:last-child {
		margin-bottom: 14px;
	}

	.ui.main.container > h1 {
		color: #363F48;
	}
	.ui.grid{
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.ui.vertical.menu {
		/*max-width: 296px;*/
	/*	padding: 0px;
		margin-left: 14px;
		margin-right: 14px;
		> .header.item {
			background-color: #363F48;
			//background-color: rgba(33, 133, 208, 0.3);
			//color: #054264;
			color: white;
			font-size: 18px;
			padding-top: 25px;
		}
		> a.item{

			min-height: 40px;
		}
	}

	.ui.segment:first-child {
		margin-top: 14px;
	}*/

}