---
layout: documentation/document
title: Getting started with the REST API
description: Guide to get you started on how to interact directly with the Carbon LDP platform's REST API.
date: 2017-02-07 19:01:07
notDocumented: false
version: v1.0.x
---

<div class="ui message">
	<div class="content">
		<p>This guide describes how to use the Carbon LDP REST API. The REST API provides a way for applications to interact with the Carbon platform using HTTP verbs (GET, POST, PUT, DELETE, etc.) and resources identified by URIs.</p>
		<p>The REST API is a lower-level API than a Software Developing Kit (SDK) and doing things directly with the REST API is generally more tedious than with an SDK. However, understanding the REST API provides insight into how the platform works and can be advantageous in certain scenarios.</p>
	</div>
</div>

<div class="ui mobile only grid">
	<div class="row">
		<sidebar-component [mobile]="true" [parentElement]="element" [contentReady]="contentReady" class="sixteen wide mobile only column"></sidebar-component>
	</div>
</div>

<!-- START: Previous knowledge -->
<section class="mainContent-section">
	<h2 class="ui header">Previous knowledge</h2>
	<p>
		In this guide, we'll use different scenarios to go through the REST API methods, detailing the different headers and basic request bodies you can use to interact with the Carbon LDP platform.
		In order to achieve this, examples for requests generated will be included in this documentation. Note that Carbon LDP can handle requests issued using JSON-LD, TriG, Turtle, and RDF XML.
		Nevertheless, since we want to keep this guide simple, the examples provided use only JSON-LD or TriG.</p>

	<p>
		Since this guide focuses on the REST API, you'll need a tool that can help you create and send HTTP requests. We recommend <a href="https://www.getpostman.com/">Postman</a>.
		It's a great tool, it's free, and it's the one we'll be featuring in this guide. But feel free to use the tool you're most comfortable with. <br> <br>
		<img src="/assets/images/postman-logo.png" width="197" height="68">
	</p>
	<p><em><strong>Note:</strong> This guide assumes the typical host and port for a local dev environment, <code>localhost:8083</code>. If your host and port differs, you'll need to make adjustments when using the given examples.</em></p>
	<p>Also, we have created a Postman Collection with all the examples featured in this documentation. Feel free to <a href="https://www.getpostman.com/collections/307f7898c630698ce5a8">import it</a> and try all the examples yourself.</p>

</section>
<!-- END: Previous knowledge -->

<!-- FIXME: Pending work, develop sections on Interaction Model, The more you know sections, Information on JSON-LD and TriG -->

<section class="mainContent-section">
	<h2 class="ui header">Conclusion</h2>
	<p>
		This guide described how to build an example application using the Carbon LDP REST API. Normally, developers will prefer use of the Carbon LDP Workbench (GUI) and an SDK, which together simplify the process of building an app. Still, all functions of the platform can be accessed
		through the REST API and those developers who understand the REST API may find it advantageous to use in some cases.
	</p>
</section>
