<div class="ui basic segment">
	<div class="ui stackable grid">
		<div class="row documentResource" *ngIf="!!rootNode">
			<document-resource class="column"
			                   (onOpenbNode)="openbNode($event)"
			                   [rootNode]="rootNode">
			</document-resource>
		</div>
		<div class="row bNodes" *ngIf="!!bNodesDictionary.size > 0">
			<document-bnodes #documentbNodes
			                 class="column"
			                 (onOpenbNode)="scrollTo($event)"
			                 [bNodesArray]="bNodesArray"
			                 [bNodesDictionary]="bNodesDictionary"></document-bnodes>
		</div>
	</div>
</div>