<div class="ui basic segment" *ngIf="!document">
	<div class="ui icon message">
		<i class="warning icon"></i>
		<div class="content">
			<div class="header">
				No document selected.
			</div>
			<p>Please, provide a document by selecting one from the three or providing a document to the component.</p>
		</div>
	</div>
</div>
<a class="ui blue top right attached label saving-message"
   *ngIf="documentContentHasChanged"
   (click)="saveDocument()">
	<i class="save icon"></i>Save changes
</a>
<div class="ui basic segment document-content" *ngIf="document">
	<div class="ui divided items">
		<document-property class="property item"
		                   [documentURI]="rootNode['@id']"
		                   [propertyName]="'@id'"
		                   [property]="{copy:{id:'@id', name:'@id', value:rootNode['@id']}}">
		</document-property>
		<div class="item">
			<div class="content">
				<div class="description">
					<button class="ui right labeled icon button" (click)="onDisplayAddNewPropertyModal()">
						<i class="add icon"></i>
						Add new property
					</button>
					<div class="ui error form segment" *ngIf="false">
						<div class="inline fields">
							<label for="kind">Which kind of property do you want to add?:</label>
							<div class="field">
								<button class="ui radio checkbox" (click)="changePropertyKind(propertyKind.SINGLE)">
									<input type="radio" name="kind" checked="" class="hidden">
									<label>Single value</label>
								</button>
							</div>
							<div class="field">
								<button class="ui radio checkbox" (click)="changePropertyKind(propertyKind.MULTI)">
									<input type="radio" name="kind" class="hidden">
									<label>Multi value</label>
								</button>
							</div>
							<div class="field">
								<button class="ui radio checkbox" (click)="changePropertyKind(propertyKind.OBJECT)">
									<input type="radio" name="kind" class="hidden">
									<label>Embedded object</label>
								</button>
							</div>
						</div>
						<div class="ui divider"></div>
						<div class="field" [hidden]="!(selectedPropertyKind===propertyKind.SINGLE)">
							<label>Enter the name, type and value of the property:</label>
							<property-single-value class="fields"
							                       [evenlyDivided]="false"
							                       [displaySubmitButton]="true"
							                       [bNodesDictionary]="bNodesDictionary"
							                       [namedFragmentsDictionary]="namedFragmentsDictionary"
							                       (onSubmit)="onSubmitSingleProperty($event)"></property-single-value>
						</div>
					</div>
					<div class="ui secondary menu document tabs">
						<a class="item active"
						   data-tab="documentResource">Document</a>
						<a class="item"
						   [ngClass]="{hidden:bNodesDictionary.size === 0}"
						   data-tab="bNodes">Blank Nodes ({{bNodesDictionary.size}})</a>
						<a class="item"
						   [ngClass]="{hidden:namedFragmentsDictionary.size === 0}"
						   data-tab="namedFragments">Named Fragments ({{namedFragmentsDictionary.size }})</a>
					</div>
					<div class="ui active tab segment"
					     data-tab="documentResource">
						<document-resource class="column"
						                   (onOpenBNode)="openBNode($event)"
						                   (onOpenNamedFragment)="openNamedFragment($event)"
						                   (onChangeProperty)="changeProperty($event)"
						                   (onDeleteProperty)="deleteProperty($event)"
						                   [rootNode]="rootNode"
						                   [documentChanges]="records.changes"
						                   [hiddenProperties]="['@id']"
						                   [bNodes]="bNodesDictionary"
						                   [namedFragments]="namedFragmentsDictionary">
						</document-resource>
					</div>
					<div class="ui tab segment"
					     data-tab="bNodes"
					     *ngIf="!!bNodesDictionary.size > 0">
						<document-bnodes class="column"
						                 (onOpenBNode)="goToSection($event)"
						                 (onOpenNamedFragment)="openNamedFragment($event)"
						                 [bNodesArray]="bNodesArray"
						                 [bNodesDictionary]="bNodesDictionary"></document-bnodes>
					</div>
					<div class="ui tab segment"
					     data-tab="namedFragments"
					     *ngIf="!!namedFragmentsDictionary.size > 0">
						<document-named-fragments class="column"
						                          (onOpenBNode)="openBNode($event)"
						                          (onOpenNamedFragment)="goToSection($event)"
						                          [documentURI]="rootNode['@id']"
						                          [namedFragmentsArray]="namedFragmentsArray"
						                          [namedFragmentsDictionary]="namedFragmentsDictionary"></document-named-fragments>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>