documents {
	> * {
		display: block;
	}

	section {
		margin-top: 2em;
		padding-top: 2em;
		padding-bottom: 1em;
		> section {
			margin-top: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.subsection {
			padding-top: 1em;
			padding-left: 2em;
		}
		.ui.segment.bottom.attached:last-child {
			margin-bottom: 1rem;
		}
	}
	.ui.accordion {
		margin-bottom: 1em;
	}

	.sixteen.wide.mobile.only.column {
		padding-left: 0;
		padding-right: 0;
	}

	.ui.breadcrumb > .section:hover {
		cursor: pointer;
	}

	a.outsidelink {
		color: black;
		border-bottom: 1px dotted #f89828;
	}

	.documentation-steps.ui.steps {
		.completed.step:before {
			margin-right: 1rem;
			font-size: 2.5em;

			color: #21BA45;
			font-family: Step;
			content: '\e800';
		}

		.step:nth-child(1):not( .completed ) {
			justify-content: flex-start;
			flex-direction: row-reverse;

			> .content {
				flex: 1;
				text-align: center;
			}
		}

		.step:nth-child(2):not( .active ),
		.step:nth-child(3) {
			flex-direction: row-reverse;
			justify-content: flex-start;

			> .icon {
				margin: 0;
			}

			> .content {
				flex: 1;
				text-align: center;
			}
		}
	}

	.soon-to-be-documented{
		margin-top: 40px;
		color: rgba(0, 145, 207, 0.79);
		font-style: italic;
		font-size: 22px;
	}
	.not-yet{
		color:gray;
	}
}
