documents{
	> * { display:block; }

	section {
		margin-top: 2em;
		padding-top: 2em;
		padding-bottom: 1em;
		> section {
			margin-top: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.subsection {
			padding-top: 1em;
			padding-left: 2em;
		}
	}
	.ui.accordion {
		margin-bottom: 1em;
	}

	.sixteen.wide.mobile.only.column {
		padding-left: 0;
		padding-right: 0;
	}
}
