$backgroundColor: #363F48;
$outerOrbitColor: #E9EAEB;
$innerOrbitColor: #FD8204;
$electronColor: #A9A8AB;

$atomSize: 0.36em;

$arbonFontSize: 0.26em;
$arbonTop: -0.05em;
$arbonLeft: 1em;

$outerOrbitRadius: 0.5em;
$orbitWidth: 0.1em;
$innerOrbitRadius: 0.25em;
$electronRadius: $orbitWidth / 2;
$electronBorderWidth: 0.03em;
$cHoleRadius: 0.3em;

@mixin circle( $radius ) {
	border-radius: 50%;
	width: $radius * 2;
	height: $radius * 2;
}

@mixin rotateElectrons( $number, $radius, $speed, $direction: "normal" ) {
	@for $i from 1 through $number {
		@keyframes rotate#{$i}of#{$number} {
			0% {
				transform: rotateZ((360deg/$number) * ($i - 1)) translateX($radius);
			}
			100% {
				transform: rotateZ(360deg + (360deg/$number) * ($i - 1)) translateX($radius);
			}
		}

		&:nth-child(#{$i}) {
			animation: rotate#{$i}of#{$number} $speed infinite linear unquote($direction);
		}
	}
}

carbon-logo {
	width: 100%;
	position: relative;
	box-sizing: content-box;

	* {
		box-sizing: content-box;
	}

	.atom {
		font-size: $atomSize;
	}

	.orbit {
		box-sizing: border-box;
		border: $orbitWidth solid;
	}

	.outer {
		position: relative;

		@include circle($outerOrbitRadius);
		border-color: $outerOrbitColor;

		> .electron {
			top: $outerOrbitRadius - $orbitWidth - $electronRadius - $electronBorderWidth;
			left: $outerOrbitRadius - $orbitWidth - $electronRadius - $electronBorderWidth;
			@include rotateElectrons(4, $outerOrbitRadius - $electronRadius, 4s, "reverse");
		}
	}

	.inner {
		@include circle($innerOrbitRadius);

		position: absolute;
		top: $outerOrbitRadius - $orbitWidth - $innerOrbitRadius;
		left: $outerOrbitRadius - $orbitWidth - $innerOrbitRadius;

		border-color: $innerOrbitColor;

		> .electron {
			top: $innerOrbitRadius - $electronRadius - $orbitWidth - $electronBorderWidth;
			left: $innerOrbitRadius - $electronRadius - $orbitWidth - $electronBorderWidth;
			@include rotateElectrons(2, $innerOrbitRadius - $electronRadius, 4s);
		}
	}

	.electron {
		@include circle($electronRadius);
		position: absolute;
		background: $electronColor;
		border: $electronBorderWidth $backgroundColor solid;
	}

	.c {
		position: absolute;
		top: $outerOrbitRadius - $cHoleRadius - $electronRadius;
		left: ($outerOrbitRadius*2) - $cHoleRadius - ($electronRadius*2) + 0.0045em;

		@include circle($electronRadius);
		border: $cHoleRadius $backgroundColor solid;
	}
	.arbon {
		position: absolute;
		top: $arbonTop;
		left: $arbonLeft;

		font-size: $arbonFontSize;
		line-height: normal;

		color: #fff;

		font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
		font-weight: bold;
	}
}