<h1>My Apps</h1>
<div class="ui grid">
	<div class="row">
		<div class="eight wide column">
			<div class="ui icon buttons">
				<button class="ui inverted white button"
				        title="View as list"
				        [ngClass]="{active: !tileView}"
				        (click)="activateListView()">
					<i class="list layout icon"></i>
				</button>
				<button class="ui inverted white button"
				        title="View as tiles"
				        [ngClass]="{active: tileView}"
				        (click)="activateGridView()">
					<i class="grid layout icon"></i>
				</button>
			</div>
			<button class="ui right labeled icon button">
				Create app <i class="plus icon"></i>
			</button>
		</div>
		<div class="eight wide right aligned column">
			<div class="ui search">
				<form>
					<div class="ui left icon input" [ngClass]="{disabled:loading}">
						<input class="search" type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div *ngIf="errorMessage">
				<div class="ui icon warning message">
					<i class="warning sign icon"></i>
					<div class="content">
						<p>{{errorMessage}}</p>
					</div>
				</div>
			</div>
			<div class="ui stackable cards" *ngIf="tileView && !errorMessage && !loading">
				<app-tile class="card" *ngFor="#app of results; #i=index;" [app]="app"></app-tile>
			</div>
			<div *ngIf="!tileView && !errorMessage && !loading">
				<apps-list [apps]="results"></apps-list>
			</div>
			<div class="ui active centered large inline text inverted loader" *ngIf="loading">Loading</div>
		</div>
	</div>
</div>