<h2 class="ui header">
	<i class="icons">
		<i class="thin circle blue icon"></i>
		<i class="corner thin circle icon"></i>
	</i>
	Blank Nodes
</h2>
<div class="ui section divider"></div>
<div class="ui top attached tabular bnodes menu">
	<a class="item active" data-tab="all">All Nodes</a>
	<a class="item"
	   *ngFor="#bNode of openedBNodes; #i=index;"
	   [attr.data-tab]="'bnode'+bNode['@id']">
		<p>
			{{ bNode["@id"] }}
			<button class="circular ui icon basic mini button" (click)="closeBNode(bNode)">
				<i class="icon close"></i>
			</button>
		</p>
	</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="all">
	<table class="ui small very compact striped selectable celled table">
		<thead>
			<tr>
				<th>@id</th>
				<th>https://carbonldp.com/ns/v1/platform#bNodeIdentifier</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#bNode of bNodesArray; #i=index;"
			    (click)="openBNode(bNode)">
				<td>
					{{ bNode["@id"] }}
				</td>
				<td>
					{{ bNode['https://carbonldp.com/ns/v1/platform#bNodeIdentifier'][0]["@value"] }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="ui bottom attached tab segment"
     *ngFor="#bNode of openedBNodes; #i=index;" [attr.data-tab]="'bnode'+bNode['@id']">
	<div class="ui divided items">
		<document-property class="property item"
		                   *ngFor="#propertyName of getPropertiesName(bNode); #j=index;"
		                   (onGoToBNode)="openBNode($event)"
		                   [propertyName]="propertyName"
		                   [property]="bNode[propertyName]">
		</document-property>
	</div>
</div>