---
layout: document
title: Access points
description: Carbon LDP is a Linked Data Platform for building web apps that manage and link data within your enterprise and across the World Wide Web.
date: 2017-02-08 11:58:19
sidebar: disabled
version: v1.0.x
---

<div class="documentation-steps ui fluid steps">
	<a class="step" href="../authorization">
		<i class="arrow left icon"></i>
		<div class="content">
			<div class="title">Previous</div>
			<div class="description">Authorization</div>
		</div>
	</a>
	<div class="active step">
		<!--<i class="payment icon"></i>-->
		<div class="content">
			<div class="title">Access points</div>
		</div>
	</div>
</div>
<div class="soon-to-be-documented">
	<p>Sorry, this topic hasn't been documented :(</p>
</div>
<p>
	We are doing our best to catch up quickly with the documentation. If you have questions regarding
	this topic you can always ask us directly through our community. See how <a href="/community-and-support">here</a>
</p>
