home {
	> .ui.segment:nth-child(1) {
		min-height: 95vh;

		> .text {
			margin-top: 16vh;
		}
	}

	.ui.menu > .right.item > .button {
		margin-left: 0.5em;
	}

	> .ui.segment:last-child {
		padding: 3em 0;

		h2 {
			margin-bottom: 2em;
		}

		.ui.action.input {
			margin-bottom: 1em;
		}
	}

	.splash-bg {
		background-image: url("/carbon-website/src/assets/images/cloud-bg.jpg") !important;
		background-repeat: no-repeat !important;
		position: relative !important;
		background-position: center center !important;
		width: 100% !important;
		background-size: cover !important;
		min-height: 807px !important;
		max-height: 960px;
	}

	.ui.stripe.segment {
		padding: 6em 0;

		h2 {
			font-size: 2em;
		}
		p {
			font-size: 1.3em;
		}
	}
}