<button class="ui right labeled icon button" (click)="addProperty()" *ngIf="canEdit">
	<i class="add icon"></i>
	Add new property
</button>
<div class="ui divider" *ngIf="canEdit"></div>
<div class="ui divided items">
	<template ngFor let-propertyrow="$implicit" [ngForOf]="properties" let-i="index">
		<document-property class="property item"
		                   *ngIf="!propertyrow.deleted && !propertyrow.added && canDisplay(propertyrow.copy.name)"
		                   [documentURI]="rootNode['@id']"
		                   [property]="propertyrow"
		                   [attr.data-tar]="propertyrow.copy.name"
		                   [bNodes]="bNodes"
		                   [namedFragments]="namedFragments"
		                   [canEdit]="canEdit"
		                   (onChangeProperty)="changeProperty($event, propertyrow)"
		                   (onDeleteProperty)="deleteProperty($event, propertyrow)"
		                   (onGoToBNode)="openBNode( $event )"
		                   (onGoToNamedFragment)="openNamedFragment($event)">
		</document-property>
		<document-property class="property added-property item transition hidden"
		                   *ngIf="!!propertyrow.added && canDisplay(propertyrow.added.name)"
		                   [documentURI]="rootNode['@id']"
		                   [property]="propertyrow"
		                   [attr.data-tar]="propertyrow.added.name"
		                   [bNodes]="bNodes"
		                   [namedFragments]="namedFragments"
		                   [mode]="modes.EDIT"
		                   [canEdit]="canEdit"
		                   (onSaveNewProperty)="saveNewProperty($event, propertyrow, i)"
		                   (onDeleteNewProperty)="deleteNewProperty($event, propertyrow, i)"
		                   (onGoToBNode)="openBNode( $event )"
		                   (onGoToNamedFragment)="openNamedFragment($event)">
		</document-property>
	</template>
</div>