---
layout: document
title: JavaScript SDK
date: 2017-01-27 13:19:12
sidebar: disabled
---
<div class="category-titleContainer">
    <img class="ui left floated image category-icon" src="/../assets/images/ico-javascript-150x150.gif"><h1 class="category-title">JavaScript SDK</h1>
</div>

<div class="category-description">
    <p>The JavaScript Software Developer's Kit, available from the npm package manager, allows you to manage RDF data using familiar JavaScript and
        TypeScript programming techniques and tools. Build for execution within a web browser or Node.js.</p>

    <div class="ui bulleted list">
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="getting-started">Getting started</a></div>
            <div class="summary">Guide to install Carbon JavaScriptSDK and start creating and manipulating data with its basic methods.</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="object-model">Object model</a></div>
            <div class="summary">An in depth description of the Carbon Object Model.</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="contexts">Contexts</a></div>
            <div class="summary"> What is a context in Carbon JS SDK, how to declare, access and modify it.</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="object-schema">Object schema</a></div>
            <div class="summary">What is the object schema, how to define and use it.</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="files">Files</a></div>
            <div class="summary">How to upload, download and describe files.</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="querying">Querying</a></div>
            <div class="summary not-yet">Not yet documented</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="authentication">Authentication</a></div>
            <div class="summary">Logging in, logging out and everything you need to know about it</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="authorization">Authorization</a></div>
            <div class="summary">Granting or denying permissions to subjects on documents</div>
        </div>
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="access-points">Access Points</a></div>
            <div class="summary not-yet">Not yet documented</div>
        </div>
    </div>
        <hr>
    <div class="ui bulleted list">
        <div class="item category-item">
            <div class="header"><a class="category-itemTitle" href="https://carbonldp.github.io/carbonldp-js-sdk">API Reference</a></div>
            <div class="summary not-yet">Classes and methods available in the JavaScript SDK, API reference maintained on Github</div>
        </div>
    </div>
</div>