.computer.tablet.only {
	.ui.message {
		padding: 15px 50px;
		margin: 15px;

		.about-message {
			color: #0083ce;
			font-size: 20px;
			padding-left: 58px;
			padding-right: 20px;
		}

		.about-info-message {
			color: black;
			font-size: 16px;
			padding: 30px 5px;
			.mobile {
				padding: 0;
			}
		}
	}
}

.mobile.only{
	.ui.message {
		margin: 15px;
		.about-message {
			color: #0083ce;
		}

		.about-info-message {
			color: black;
		}
	}
}


div {
	.about-items {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.header {
		height: auto;
		display: flex;
		align-items: center;
		h3 {
			margin: 0;
			margin-left: 20px;
			color: #363f48;
			font-size: 18px;
			height: auto;
		}
		a {
			margin: 0;
		}
	}

	.content {
		font-size: 16px;
		margin-top: 14px;
		margin-bottom: 30px;
		margin-left: 61px;
	}
}
